Repository QMCPACK/qmcpack, pull requests merged in 2018-04, with the labels that each got.

#732 Add citation data to header
  src/QMCApp/QMCMain.cpp
Labels: in progress

#736 Remove GUI code
  CMakeLists.txt
  doxygen/Doxyfile
  doxygen/qmcpack.cfg
  src/GUI/Geometry.py
  src/GUI/Run.py
  src/GUI/StructViewer.py
  src/GUI/Wavefunction.py
  src/GUI/qmcGUI.py
Labels: in progress

#737 Remove unused evaluateHybridSplineComplexToReal_NLPP_kernel
  src/QMCWaveFunctions/AtomicOrbitalCuda.cu
Labels: in progress

#741 Sort QMCPACK publications by date
  manual/qmcpack_papers.bib
Labels: in progress

#743 Add test for CheckLattice.
  src/QMCWaveFunctions/EinsplineSetBuilderCommon.cpp
  src/QMCWaveFunctions/EinsplineSetBuilderESHDF.fft.cpp
  src/QMCWaveFunctions/EinsplineSetBuilderOld.cpp
  src/QMCWaveFunctions/tests/test_einset.cpp
Labels: in progress

#744 Improve per node walker count handling in multi-rank runs after branching
  src/QMCDrivers/DMC/WalkerControlMPI.cpp
  src/QMCDrivers/WalkerControlBase.cpp
  src/QMCDrivers/WalkerControlBase.h
Labels: bug, in progress

#748 Delete unused code.
  src/QMCDrivers/WalkerControlBase.cpp
Labels: in progress

#746 Nexus: add support for hybrid representation
  nexus/library/machines.py
  nexus/library/qmcpack_input.py
  nexus/library/qmcpack_workflows.py
Labels: in progress

#752 Adjust one body Jastrow SoA algorithm
  src/Particle/ParticleSet.cpp
  src/Particle/ParticleSet.h
  src/QMCWaveFunctions/Jastrow/J1OrbitalSoA.h
  src/Sandbox/diff_j1.cpp
  src/Sandbox/diff_wfs.cpp
  src/Sandbox/miniqmc.cpp
  src/simd/algorithm.hpp
Labels: in progress

#757 Add recent QMCPACK papers to manual
  manual/qmcpack_papers.bib
Labels: in progress

#758 Bibliography and cross referencing improvements
  manual/afqmc.tex
  manual/multideterminants.tex
  manual/qmcpack_papers.bib
Labels: in progress

#759 Add Neuscamman group papers
  manual/qmcpack_papers.bib
Labels: in progress

#768 Remove older QE versions
  external_codes/quantum_espresso/add_pw2qmcpack_to_espresso-5.1.diff
  external_codes/quantum_espresso/add_pw2qmcpack_to_espresso-5.2.0.diff
  external_codes/quantum_espresso/add_pw2qmcpack_to_espresso-5.2.1.diff
  external_codes/quantum_espresso/download_and_patch_qe5.1.sh
  external_codes/quantum_espresso/download_and_patch_qe5.2.0.sh
  external_codes/quantum_espresso/download_and_patch_qe5.2.1.sh
Labels: in progress

#767 Clean up the use of donePbyP in drivers
  src/Particle/AsymmetricDistanceTableData.h
  src/Particle/DistanceTableData.h
  src/Particle/ParticleSet.cpp
  src/Particle/ParticleSet.h
  src/Particle/SoaDistanceTableAA.h
  src/Particle/SoaDistanceTableAB.h
  src/Particle/SoaDistanceTableBA.h
  src/Particle/SymmetricDistanceTableData.h
  src/Particle/tests/test_particle.cpp
  src/QMCDrivers/DMC/DMCUpdateAll.cpp
  src/QMCDrivers/QMCCostFunctionOMP.cpp
  src/QMCDrivers/VMC/VMCUpdateAll.cpp
Labels: in progress

#769 Enable Tmove tests with mixed precision.
  tests/molecules/H2O_dimer_sep_pp/CMakeLists.txt
Labels: in progress

#770 Add orbital norm check in SplineAdoptor Readers
  src/QMCWaveFunctions/EinsplineSetBuilder.h
  src/QMCWaveFunctions/SplineAdoptorReaderP.h
  src/QMCWaveFunctions/SplineHybridAdoptorReaderP.h
  src/QMCWaveFunctions/einspline_helper.hpp
Labels: in progress

#772 Move init in qmc_common to QMCApp
  src/Message/Communicate.cpp
  src/QMCApp/qmcapp.cpp
Labels: in progress

#774 add Blue Waters configuration script
  config/blue_waters.sh
Labels: in progress

#775 Update citation
  src/QMCApp/QMCMain.cpp
  src/qmc_common.cpp
Labels: in progress

#776 Adjust the memory query in batched algorithm
  src/QMCWaveFunctions/BsplineFactory/HybridCplxAdoptor.h
  src/QMCWaveFunctions/BsplineFactory/HybridRealAdoptor.h
  src/QMCWaveFunctions/BsplineFactory/SplineC2CAdoptor.h
  src/QMCWaveFunctions/BsplineFactory/SplineC2RAdoptor.h
  src/QMCWaveFunctions/BsplineFactory/SplineR2RAdoptor.h
  src/QMCWaveFunctions/EinsplineAdoptor.h
  src/QMCWaveFunctions/Fermion/DiracDeterminantBase.cpp
  src/QMCWaveFunctions/SPOSetBase.cpp
  src/QMCWaveFunctions/SPOSetBase.h
  src/QMCWaveFunctions/lcao/LCAOrbitalSet.cpp
  src/QMCWaveFunctions/lcao/LCAOrbitalSet.h
Labels: in progress

#777 Change the GPU Sherman-Morrison to the Fahy variant
  src/QMCWaveFunctions/Fermion/determinant_update.cu
Labels: in progress

#780 Route CUDA_ARCH for ctest
  CMake/ctest_script.cmake
Labels: in progress

#779 Hybrid orbital representation manual + final tweak
  manual/bibliography.bib
  manual/figures/hybrid_new.jpg
  manual/hamiltonianobservable.tex
  manual/qmcpack_papers.bib
  manual/running.tex
  manual/spo.tex
  manual/spo_hybrid.tex
  manual/spo_spline.tex
  src/Particle/DistanceTableData.h
  src/Particle/ParticleSet.cpp
  src/Particle/SoaDistanceTableAA.h
  src/Particle/VirtualParticleSet.cpp
  src/Particle/VirtualParticleSet.h
  src/QMCHamiltonians/NonLocalECPComponent.cpp
  src/QMCWaveFunctions/BsplineFactory/HybridAdoptorBase.h
  src/QMCWaveFunctions/BsplineFactory/HybridRealAdoptor.h
  src/QMCWaveFunctions/EinsplineSetBuilder.h
  src/QMCWaveFunctions/EinsplineSetBuilderCommon.cpp
  src/QMCWaveFunctions/EinsplineSetBuilderESHDF.fft.cpp
  src/QMCWaveFunctions/EinsplineSetBuilder_createSPOs.cpp
  src/QMCWaveFunctions/SplineHybridAdoptorReaderP.h
  tests/solids/NiO_a4_e48_pp/CMakeLists.txt
  tests/solids/NiO_a4_e48_pp/NiO-hybridrep-j3-batched-vmc-short.in.xml
  tests/solids/NiO_a4_e48_pp/NiO-hybridrep-j3-vmc-short.in.xml
  tests/solids/NiO_a4_e48_pp/NiO-j3-batched-vmc-short.in.xml
  tests/solids/diamondC_1x1x1_pp/CMakeLists.txt
  tests/solids/diamondC_1x1x1_pp/qmc_short_hybridrep_batched.in.xml
  tests/solids/diamondC_2x1x1_pp/CMakeLists.txt
  tests/solids/diamondC_2x1x1_pp/qmc_short_hybridrep.in.xml
  tests/solids/diamondC_2x1x1_pp/qmc_short_hybridrep_batched.in.xml
  tests/test_automation/jenkins_rhea_cpu.sh
Labels: in progress

#786 Add a dummy return to reduce Clang warning.
  manual/hamiltonianobservable.tex
  manual/spo_hybrid.tex
  src/Particle/DistanceTableData.h
Labels: in progress

#788 Update pw2qmcpack + manual
  external_codes/quantum_espresso/README
  external_codes/quantum_espresso/add_pw2qmcpack_to_qe-6.2.1.diff
  manual/installation.tex
  src/QMCWaveFunctions/SplineAdoptorReaderP.h
  src/QMCWaveFunctions/SplineHybridAdoptorReaderP.h
Labels: in progress

#787 Allow unlisted testbeds
  CMake/ctest_script.cmake
  tests/test_automation/nightly_anl_bora.sh
Labels: in progress

#791 nexus: fix qmca prefix list when performing twist averaging
  nexus/executables/qmca
Labels: in progress

#793 nexus: fix default trace plot range in qmca
  nexus/executables/qmca
Labels: in progress

#796 nexus: add ability to join subsequent series as a single data source in qmca
  nexus/executables/qmca
Labels: in progress

#802 Update oxygen test scripts
  tests/test_automation/nightly_ornl_oxygen.sh
  tests/test_automation/weekly_ornl_oxygen.sh
Labels: in progress

#760 Initial testing framework for Nexus
  CMakeLists.txt
  nexus/executables/ntest
  nexus/library/developer.py
  nexus/library/gamess.py
  nexus/library/generic.py
  nexus/library/machines.py
  nexus/library/nexus.py
  nexus/library/nexus_base.py
  nexus/library/project_manager.py
  nexus/library/pseudopotential.py
  nexus/library/pwscf.py
  nexus/library/qmcpack_workflows.py
  nexus/library/testing.py
  nexus/tests/CMakeLists.txt
Labels: in progress

#803 Clean a bit qmc_common.h
  src/ParticleIO/ParticleLayoutIO.cpp
  src/QMCDrivers/DMC/WalkerControlMPI.cpp
  src/QMCDrivers/QMCLinearOptimize.cpp
  src/qmc_common.cpp
  src/qmc_common.h
Labels: cleanup, in progress

#805 Remove PseudoGen
  src/PseudoGen/CMakeLists.txt
  src/PseudoGen/PPApp.cpp
  src/PseudoGen/PlotPP.cpp
  src/PseudoGen/PseudoGen.IO.cpp
  src/PseudoGen/PseudoGen.cpp
  src/PseudoGen/PseudoGen.h
  src/PseudoGen/SQDFrame.cpp
  src/PseudoGen/SQDFrame.h
Labels: cleanup, in progress

#806 Remove AtomicHF
  src/AtomicHF/CMakeLists.txt
  src/AtomicHF/Clebsch_Gordan.cpp
  src/AtomicHF/Clebsch_Gordan.h
  src/AtomicHF/HFAtomicOrbitals.h
  src/AtomicHF/HFConfiguration.h
  src/AtomicHF/HartreeFock.cpp
  src/AtomicHF/HartreeFock.h
  src/AtomicHF/Makefile
  src/AtomicHF/RadialPotential.cpp
  src/AtomicHF/RadialPotential.h
  src/AtomicHF/RadialPotentialSet.h
  src/AtomicHF/YlmRnlSet.IO.h
  src/AtomicHF/YlmRnlSet.cpp
  src/AtomicHF/YlmRnlSet.h
  src/AtomicHF/fillshells.h
  src/AtomicHF/makefile.linuxicc
Labels: cleanup, in progress

#808 Cleanup SQD
  src/Numerics/RadialFunctorUtility.h
  src/SQD/CMakeLists.txt
  src/SQD/SphericalPotential/HarmonicPotential.cpp
  src/SQD/SphericalPotential/NuclearLinearTransform.h
  src/SQD/SphericalPotential/NuclearLogTransform.h
  src/SQD/SphericalPotential/NuclearRelLogTransform.h
  src/SQD/SphericalPotential/RadialPotential.cpp
  src/SQD/SphericalPotential/RegularLinearTransform.h
  src/SQD/SphericalPotential/RegularLogTransform.h
  src/SQD/SphericalPotential/SHEGPotential.cpp
  src/SQD/SphericalPotential/SJPseudoPotential.cpp
  src/SQD/SphericalPotential/StepPotential.cpp
  src/SQD/SphericalPotential/ZOverRPotential.cpp
  src/SQD/YlmRnlSet.IO.h
  src/SQD/unsupported/HartreeFock.xmlpp.cpp
  src/SQD/unsupported/HartreeFock.xmlpp.h
Labels: cleanup, in progress

#809 Open h5 read-only for SPO coefficients loading
  src/QMCWaveFunctions/SPOSetBase.cpp
Labels: in progress

#810 Remove WalkOnSpheres
  src/QMCHamiltonians/PolarizationPotential.h
  src/QMCHamiltonians/WOS/Device.cpp
  src/QMCHamiltonians/WOS/Device.h
  src/QMCHamiltonians/WOS/Domain.h
  src/QMCHamiltonians/WOS/HeteroStructure.cpp
  src/QMCHamiltonians/WOS/HeteroStructure.h
  src/QMCHamiltonians/WOS/Interface.h
  src/QMCHamiltonians/WOS/Layer.h
  src/QMCHamiltonians/WOS/WOSParticles.h
  src/QMCHamiltonians/WOS/WOSPotential.cpp
  src/QMCHamiltonians/WOS/WOSPotential.h
Labels: cleanup, in progress

#811 Nexus: add extra protection around file removal
  nexus/executables/ntest
Labels: in progress, nexus
