Repository QMCPACK/qmcpack, pull requests merged in 2018-08, with the labels that each got.

#944 Manual for PBC gaussians for gamma Kpoint
  manual/additional_tools.tex
  manual/bibliography.bib
  manual/gaussian_orbitals_solids.tex
  manual/lab_qmc_basics.tex
  manual/pseudopotentials.tex
  manual/qmcpack_manual.tex
  manual/spo_gaussian.tex
  manual/spo_spline.tex
Labels: in progress

#952 Changes from rc v3.5.0
  CHANGELOG.md
  CMakeLists.txt
Labels: in progress

#949 Remove CSRMC files
  src/QMCDrivers/CorrelatedSampling/CSRMC.cpp
  src/QMCDrivers/CorrelatedSampling/CSRMC.h
  src/QMCDrivers/CorrelatedSampling/CSRMCUpdateAll.cpp
  src/QMCDrivers/CorrelatedSampling/CSRMCUpdateAll.h
  src/QMCDrivers/CorrelatedSampling/CSRMCUpdatePbyP.cpp
  src/QMCDrivers/CorrelatedSampling/CSRMCUpdatePbyP.h
Labels: in progress

#953 Fix BG/Q unit tests
  src/Particle/tests/test_particle.cpp
  src/spline2/tests/gen_bspline_values.py
  src/spline2/tests/test_multi_spline.cpp
Labels: in progress

#955 Change BG/Q toolchain so cmake need only run once.
  CMake/ctest_script.cmake
  config/BGQ_Clang++11_ToolChain.cmake
  config/build_alcf_mira.sh
  manual/installation.tex
Labels: in progress

#961 Eliminate ion-ion force computation from ForceBase
  src/QMCHamiltonians/ForceBase.cpp
Labels: in progress

#968 Ensure MaxKshell is initialized.
  src/LongRange/EwaldHandler3D.cpp
  src/LongRange/EwaldHandler3D.h
Labels: in progress

#969 Fix incorrect sign in LR Breakup
  src/LongRange/LRHandlerTemp.h
  src/QMCHamiltonians/CoulombPBCAB.cpp
Labels: in progress

#963 Add check_stats script for testing estimators
  utils/check_stats.py
Labels: in progress

#967 Workaround for 1RDM zero problem
  src/QMCHamiltonians/DensityMatrices1B.cpp
Labels: bug, in progress

#971 Nexus: fix density matrix analyzer
  nexus/library/numerics.py
  nexus/library/qmcpack_quantity_analyzers.py
Labels: in progress

#986 Fix ctest script
  CMake/ctest_script.cmake
  tests/test_automation/nightly_anl_bora.sh
  tests/test_automation/nightly_anl_cetus.sub
Labels: in progress

#987 Improve JeeI::acceptMove algorithm.
  src/QMCWaveFunctions/Jastrow/JeeIOrbitalSoA.h
Labels: in progress

#992 Add density and spin density tests
  CMake/macros.cmake
  tests/molecules/LiH_dimer_pp/CMakeLists.txt
  tests/molecules/LiH_dimer_pp/README
  tests/molecules/LiH_dimer_pp/qmc_ref/vmc_hf_sdj_spindens.in.xml
  tests/molecules/LiH_dimer_pp/qmc_ref/vmc_hf_sdj_spindens_long.s000.stat_ref_spindensity.dat
  tests/molecules/LiH_dimer_pp/qmc_ref/vmc_hf_sdj_spindens_ref.s000.stat_ref_spindensity.dat
  tests/molecules/LiH_dimer_pp/qmc_ref/vmc_hf_sdj_spindens_ref.s000.stat_trace_spindensity.dat
  tests/molecules/LiH_dimer_pp/qmc_ref/vmc_hf_sdj_spindens_short.s000.stat_ref_spindensity.dat
  tests/molecules/LiH_dimer_pp/vmc_hf_sdj_spindens_long.in.xml
  tests/molecules/LiH_dimer_pp/vmc_hf_sdj_spindens_short.in.xml
  tests/scripts/check_scalars.py
  tests/scripts/check_stats.py
  tests/solids/diamondC_1x1x1_pp/CMakeLists.txt
  tests/solids/diamondC_1x1x1_pp/README
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_dens.in.xml
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_dens_dmc.in.xml
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_dens_dmc_long.s001.stat_ref_density.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_dens_dmc_ref.s001.stat_ref_density.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_dens_dmc_ref.s001.stat_trace_density.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_dens_dmc_short.s001.stat_ref_density.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_dens_long.s000.stat_ref_density.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_dens_ref.s000.stat_ref_density.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_dens_ref.s000.stat_trace_density.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_dens_short.s000.stat_ref_density.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_spindens.in.xml
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_spindens_dmc.in.xml
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_spindens_dmc_long.s001.stat_ref_spindensity.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_spindens_dmc_ref.s001.stat_ref_spindensity.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_spindens_dmc_ref.s001.stat_trace_spindensity.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_spindens_dmc_short.s001.stat_ref_spindensity.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_spindens_long.s000.stat_ref_spindensity.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_spindens_ref.s000.stat_ref_spindensity.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_spindens_ref.s000.stat_trace_spindensity.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_spindens_short.s000.stat_ref_spindensity.dat
  tests/solids/diamondC_1x1x1_pp/qmc_dens_dmc_long.in.xml
  tests/solids/diamondC_1x1x1_pp/qmc_dens_dmc_short.in.xml
  tests/solids/diamondC_1x1x1_pp/qmc_dens_long.in.xml
  tests/solids/diamondC_1x1x1_pp/qmc_dens_long_gpu.in.xml
  tests/solids/diamondC_1x1x1_pp/qmc_dens_short.in.xml
  tests/solids/diamondC_1x1x1_pp/qmc_dens_short_gpu.in.xml
  tests/solids/diamondC_1x1x1_pp/qmc_spindens_dmc_long.in.xml
  tests/solids/diamondC_1x1x1_pp/qmc_spindens_dmc_short.in.xml
  tests/solids/diamondC_1x1x1_pp/qmc_spindens_long.in.xml
  tests/solids/diamondC_1x1x1_pp/qmc_spindens_long_gpu.in.xml
  tests/solids/diamondC_1x1x1_pp/qmc_spindens_short.in.xml
  tests/solids/diamondC_1x1x1_pp/qmc_spindens_short_gpu.in.xml
Labels: in progress

#1006 Implement K-points with real coefficients in LCAO
  manual/gaussian_orbitals_solids.tex
  src/QMCTools/PyscfToQmcpack.py
  tests/solids/CMakeLists.txt
  tests/solids/diamondC_2x1x1-Gaussian_pp_kpts/C.BFD.xml
  tests/solids/diamondC_2x1x1-Gaussian_pp_kpts/CMakeLists.txt
  tests/solids/diamondC_2x1x1-Gaussian_pp_kpts/C_Diamond-211.h5
  tests/solids/diamondC_2x1x1-Gaussian_pp_kpts/C_Diamond-211.structure.xml
  tests/solids/diamondC_2x1x1-Gaussian_pp_kpts/C_Diamond-211.wfj-Twist0.xml
  tests/solids/diamondC_2x1x1-Gaussian_pp_kpts/dft-inputs/C_Diamond-211.h5
  tests/solids/diamondC_2x1x1-Gaussian_pp_kpts/dft-inputs/diamondC_2x1x1.out
  tests/solids/diamondC_2x1x1-Gaussian_pp_kpts/dft-inputs/diamondC_2x1x1.py
  tests/solids/diamondC_2x1x1-Gaussian_pp_kpts/qmc-ref/qmc_ref_long.in.xml
  tests/solids/diamondC_2x1x1-Gaussian_pp_kpts/qmc-ref/qmc_ref_long.output
  tests/solids/diamondC_2x1x1-Gaussian_pp_kpts/qmc-ref/qmc_ref_long.s000.scalar.dat
  tests/solids/diamondC_2x1x1-Gaussian_pp_kpts/qmc-ref/qmc_ref_long_vmc_dmc.in.xml
  tests/solids/diamondC_2x1x1-Gaussian_pp_kpts/qmc-ref/qmc_ref_long_vmc_dmc.output
  tests/solids/diamondC_2x1x1-Gaussian_pp_kpts/qmc-ref/qmc_ref_long_vmc_dmc.s000.scalar.dat
  tests/solids/diamondC_2x1x1-Gaussian_pp_kpts/qmc-ref/qmc_ref_long_vmc_dmc.s001.scalar.dat
  tests/solids/diamondC_2x1x1-Gaussian_pp_kpts/qmc_long.in.xml
  tests/solids/diamondC_2x1x1-Gaussian_pp_kpts/qmc_long_vmc_dmc.in.xml
  tests/solids/diamondC_2x1x1-Gaussian_pp_kpts/qmc_short.in.xml
  tests/solids/diamondC_2x1x1-Gaussian_pp_kpts/qmc_short_vmc_dmc.in.xml
Labels: in progress

#994 Add 1RDM tests
  tests/scripts/check_stats.py
  tests/solids/diamondC_1x1x1_pp/CMakeLists.txt
  tests/solids/diamondC_1x1x1_pp/README
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_1rdm_J2.in.xml
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_1rdm_J2_long_comp.s000.stat_ref_1rdm.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_1rdm_J2_long_real.s000.stat_ref_1rdm.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_1rdm_J2_ref_comp.s000.stat_ref_1rdm.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_1rdm_J2_ref_comp.s000.stat_trace_1rdm.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_1rdm_J2_ref_real.s000.stat_ref_1rdm.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_1rdm_J2_ref_real.s000.stat_trace_1rdm.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_1rdm_J2_short_comp.s000.stat_ref_1rdm.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_1rdm_J2_short_real.s000.stat_ref_1rdm.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_1rdm_noJ.in.xml
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_1rdm_noJ_long_comp.s000.stat_ref_1rdm.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_1rdm_noJ_long_real.s000.stat_ref_1rdm.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_1rdm_noJ_ref_comp.s000.stat_ref_1rdm.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_1rdm_noJ_ref_comp.s000.stat_trace_1rdm.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_1rdm_noJ_ref_real.s000.stat_ref_1rdm.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_1rdm_noJ_ref_real.s000.stat_trace_1rdm.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_1rdm_noJ_short_comp.s000.stat_ref_1rdm.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_1rdm_noJ_short_real.s000.stat_ref_1rdm.dat
  tests/solids/diamondC_1x1x1_pp/qmc_1rdm_J2_long.in.xml
  tests/solids/diamondC_1x1x1_pp/qmc_1rdm_J2_short.in.xml
  tests/solids/diamondC_1x1x1_pp/qmc_1rdm_noJ_long.in.xml
  tests/solids/diamondC_1x1x1_pp/qmc_1rdm_noJ_short.in.xml
Labels: in progress

#1011 Add unit test for reading cusp correction from XML
  src/QMCWaveFunctions/MolecularOrbitals/LCOrbitalSetWithCorrection.h
  src/QMCWaveFunctions/tests/CMakeLists.txt
  src/QMCWaveFunctions/tests/hcn_downdet.cuspInfo.xml
  src/QMCWaveFunctions/tests/test_cusp_corr.cpp
Labels: in progress

#1014 LCAO SoA builder clean up
  src/QMCWaveFunctions/lcao/AOBasisBuilder.h
  src/QMCWaveFunctions/lcao/LCAOrbitalBuilder.cpp
  src/QMCWaveFunctions/lcao/MultiFunctorBuilder.h
  src/QMCWaveFunctions/lcao/RadialOrbitalSetBuilder.h
Labels: in progress

#1015 Add const to all VirtualParticleSet use and separate SPOMem.
  src/Particle/VirtualParticleSet.h
  src/QMCWaveFunctions/BsplineFactory/BsplineSet.h
  src/QMCWaveFunctions/BsplineFactory/HybridCplxAdoptor.h
  src/QMCWaveFunctions/BsplineFactory/HybridRealAdoptor.h
  src/QMCWaveFunctions/BsplineFactory/SplineC2CAdoptor.h
  src/QMCWaveFunctions/BsplineFactory/SplineC2RAdoptor.h
  src/QMCWaveFunctions/BsplineFactory/SplineR2RAdoptor.h
  src/QMCWaveFunctions/Fermion/DiracDeterminantBase.cpp
  src/QMCWaveFunctions/MolecularOrbitals/LCOrbitalSet.h
  src/QMCWaveFunctions/MolecularOrbitals/LCOrbitalSetOpt.h
  src/QMCWaveFunctions/OrbitalSetTraits.h
  src/QMCWaveFunctions/SPOSet.cpp
  src/QMCWaveFunctions/SPOSet.h
  src/QMCWaveFunctions/lcao/LCAOrbitalSet.cpp
  src/QMCWaveFunctions/lcao/LCAOrbitalSet.h
Labels: in progress

#1013 Add energy density integration tests
  tests/molecules/LiH_dimer_ae_gms/CMakeLists.txt
  tests/molecules/LiH_dimer_ae_gms/README
  tests/molecules/LiH_dimer_ae_gms/qmc-ref/vmc_noj_edens_vor.in.xml
  tests/molecules/LiH_dimer_ae_gms/qmc-ref/vmc_noj_edens_vor_long.s000.stat_ref_energydensity.dat
  tests/molecules/LiH_dimer_ae_gms/qmc-ref/vmc_noj_edens_vor_ref.s000.stat_ref_energydensity.dat
  tests/molecules/LiH_dimer_ae_gms/qmc-ref/vmc_noj_edens_vor_ref.s000.stat_trace_energydensity.dat
  tests/molecules/LiH_dimer_ae_gms/qmc-ref/vmc_noj_edens_vor_short.s000.stat_ref_energydensity.dat
  tests/molecules/LiH_dimer_ae_gms/vmc_noj_edens_vor_long.in.xml
  tests/molecules/LiH_dimer_ae_gms/vmc_noj_edens_vor_short.in.xml
  tests/molecules/LiH_dimer_pp/CMakeLists.txt
  tests/molecules/LiH_dimer_pp/README
  tests/molecules/LiH_dimer_pp/qmc_ref/vmc_hf_sdj_edens_vor.in.xml
  tests/molecules/LiH_dimer_pp/qmc_ref/vmc_hf_sdj_edens_vor_long.s000.stat_ref_energydensity.dat
  tests/molecules/LiH_dimer_pp/qmc_ref/vmc_hf_sdj_edens_vor_ref.s000.stat_ref_energydensity.dat
  tests/molecules/LiH_dimer_pp/qmc_ref/vmc_hf_sdj_edens_vor_ref.s000.stat_trace_energydensity.dat
  tests/molecules/LiH_dimer_pp/qmc_ref/vmc_hf_sdj_edens_vor_short.s000.stat_ref_energydensity.dat
  tests/molecules/LiH_dimer_pp/vmc_hf_sdj_edens_vor_long.in.xml
  tests/molecules/LiH_dimer_pp/vmc_hf_sdj_edens_vor_short.in.xml
  tests/scripts/check_stats.py
  tests/solids/diamondC_1x1x1_pp/CMakeLists.txt
  tests/solids/diamondC_1x1x1_pp/README
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_edens_cell.in.xml
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_edens_cell_dmc.in.xml
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_edens_cell_dmc_long.s001.stat_ref_energydensity.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_edens_cell_dmc_ref.s001.stat_ref_energydensity.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_edens_cell_dmc_ref.s001.stat_trace_energydensity.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_edens_cell_dmc_short.s001.stat_ref_energydensity.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_edens_cell_long.s000.stat_ref_energydensity.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_edens_cell_ref.s000.stat_ref_energydensity.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_edens_cell_ref.s000.stat_trace_energydensity.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_edens_cell_short.s000.stat_ref_energydensity.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_edens_vor.in.xml
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_edens_vor_long.s000.stat_ref_energydensity.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_edens_vor_ref.s000.stat_ref_energydensity.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_edens_vor_ref.s000.stat_trace_energydensity.dat
  tests/solids/diamondC_1x1x1_pp/qmc-ref/qmc_edens_vor_short.s000.stat_ref_energydensity.dat
  tests/solids/diamondC_1x1x1_pp/qmc_edens_cell_dmc_long.in.xml
  tests/solids/diamondC_1x1x1_pp/qmc_edens_cell_dmc_short.in.xml
  tests/solids/diamondC_1x1x1_pp/qmc_edens_cell_long.in.xml
  tests/solids/diamondC_1x1x1_pp/qmc_edens_cell_short.in.xml
  tests/solids/diamondC_1x1x1_pp/qmc_edens_vor_long.in.xml
  tests/solids/diamondC_1x1x1_pp/qmc_edens_vor_short.in.xml
Labels: in progress

#1016 Remove unused function implementations in WaveFunctionComponents
  src/QMCWaveFunctions/Jastrow/OneBodyJastrowOrbital.h
  src/QMCWaveFunctions/Jastrow/OneBodySpinJastrowOrbital.h
  src/QMCWaveFunctions/Jastrow/TwoBodyJastrowOrbital.h
  src/QMCWaveFunctions/Jastrow/eeI_JastrowOrbital.h
  src/QMCWaveFunctions/WaveFunctionComponent.cpp
  src/QMCWaveFunctions/WaveFunctionComponent.h
Labels: in progress

#1021 Store cusp correction parameters in structure.
  src/QMCWaveFunctions/MolecularOrbitals/CuspCorr.cpp
  src/QMCWaveFunctions/MolecularOrbitals/CuspCorr.h
  src/QMCWaveFunctions/MolecularOrbitals/LCOrbitalSetWithCorrection.cpp
  src/QMCWaveFunctions/MolecularOrbitals/LCOrbitalSetWithCorrection.h
  src/QMCWaveFunctions/tests/test_cusp_corr.cpp
Labels: in progress

#1023 Update gold files for converter tests
  tests/converter/converter_test.py
  tests/converter/test_HDF5_Be_ccd/gold.orbs.h5
  tests/converter/test_HDF5_FeCO6/gold.orbs.h5
  tests/converter/test_HDF5_LiH_qp/gold.orbs.h5
Labels: in progress

#1024 Incorrect handling of phase info in ratioGrad
  src/QMCWaveFunctions/TrialWaveFunction.cpp
Labels: in progress

#1025 SIMPLE_RUN_AND_CHECK skip tests needing MPI.
  CMake/macros.cmake
Labels: in progress

#1026 Remove legacy alternateXXX in TrialWaveFunction and WaveFunctionComponent.
  src/QMCWaveFunctions/Fermion/DiracDeterminantBase.h
  src/QMCWaveFunctions/Fermion/DiracDeterminantWithBackflow.h
  src/QMCWaveFunctions/Fermion/MultiDiracDeterminantBase.h
  src/QMCWaveFunctions/Fermion/SlaterDet.h
  src/QMCWaveFunctions/Fermion/SlaterDetWithBackflow.h
  src/QMCWaveFunctions/TrialWaveFunction.cpp
  src/QMCWaveFunctions/TrialWaveFunction.h
  src/QMCWaveFunctions/WaveFunctionComponent.h
Labels: cleanup, in progress

#1031 Fix Nexus example tests
  nexus/executables/ntest
  nexus/tests/CMakeLists.txt
Labels: in progress

#1033 Add Gaussian Process code to Nexus
  nexus/library/gaussian_process.py
Labels: in progress

#1029 Start adding cusp correction pieces to SoA code.
  src/QMCWaveFunctions/BasisSetBase.h
  src/QMCWaveFunctions/CMakeLists.txt
  src/QMCWaveFunctions/lcao/CuspCorrection.cpp
  src/QMCWaveFunctions/lcao/CuspCorrection.h
  src/QMCWaveFunctions/lcao/MultiQuinticSpline1D.h
  src/QMCWaveFunctions/lcao/SoaAtomicBasisSet.h
  src/QMCWaveFunctions/lcao/SoaLocalizedBasisSet.h
  src/QMCWaveFunctions/tests/CMakeLists.txt
  src/QMCWaveFunctions/tests/test_soa_cusp_corr.cpp
Labels: in progress

#1035 Force PR 2/4: NonLocalPP Hellman-Feynman Backend
  src/QMCHamiltonians/NonLocalECPComponent.cpp
  src/QMCHamiltonians/NonLocalECPComponent.h
  src/QMCHamiltonians/NonLocalECPotential.cpp
Labels: in progress

#1037 Clean up spline2 folder
  src/QMCWaveFunctions/BsplineFactory/HybridAdoptorBase.h
  src/QMCWaveFunctions/BsplineFactory/SplineC2CAdoptor.h
  src/QMCWaveFunctions/BsplineFactory/SplineC2RAdoptor.h
  src/QMCWaveFunctions/BsplineFactory/SplineR2RAdoptor.h
  src/config.h.cmake.in
  src/spline2/MultiBspline.hpp
  src/spline2/MultiBsplineBase.hpp
  src/spline2/MultiBsplineStd.hpp
  src/spline2/MultiBsplineStd2.hpp
  src/spline2/MultiBsplineStd4.hpp
  src/spline2/MultiBsplineStd5.hpp
  src/spline2/MultiBsplineValue.hpp
  src/spline2/bspline_allocator.hpp
  src/spline2/tests/bspline_smp.cpp
  src/spline2/tests/bspline_tiledThreading.cpp
  src/spline2/tests/bspline_tiledThreading_compact.cpp
  src/spline2/tests/einspline_benchmark.h
  src/spline2/tests/einspline_shared_woNested.h
Labels: cleanup, in progress

#1036 Add radial evaluation for cusp correction
  src/QMCWaveFunctions/lcao/CuspCorrection.cpp
  src/QMCWaveFunctions/lcao/CuspCorrection.h
  src/QMCWaveFunctions/tests/gaussian_orbitals.py
  src/QMCWaveFunctions/tests/gen_cusp_corr.py
  src/QMCWaveFunctions/tests/read_qmcpack.py
  src/QMCWaveFunctions/tests/test_soa_cusp_corr.cpp
Labels: in progress

#1038 Avoid increasing on-node population if there are no walkers on-node
  src/QMCDrivers/WalkerControlBase.cpp
Labels: bug, in progress

#1041 Connect cusp correction to wavefunction evaluation
  src/QMCWaveFunctions/CMakeLists.txt
  src/QMCWaveFunctions/lcao/CuspCorrection.cpp
  src/QMCWaveFunctions/lcao/CuspCorrection.h
  src/QMCWaveFunctions/lcao/LCAOrbitalBuilder.cpp
  src/QMCWaveFunctions/lcao/LCAOrbitalBuilder.h
  src/QMCWaveFunctions/lcao/LCAOrbitalSet.cpp
  src/QMCWaveFunctions/lcao/LCAOrbitalSet.h
  src/QMCWaveFunctions/lcao/LCAOrbitalSetWithCorrection.cpp
  src/QMCWaveFunctions/lcao/LCAOrbitalSetWithCorrection.h
  src/QMCWaveFunctions/lcao/SoaCuspCorrectionBasisSet.h
  src/QMCWaveFunctions/tests/CMakeLists.txt
  src/QMCWaveFunctions/tests/gen_cusp_corr.py
  src/QMCWaveFunctions/tests/hcn.wfnoj.xml
  src/QMCWaveFunctions/tests/hcn_updet.cuspInfo.xml
  src/QMCWaveFunctions/tests/test_soa_cusp_corr.cpp
Labels: in progress
