Repository QMCPACK/qmcpack, pull requests merged in 2018-03, with the labels that each got.

#682 Release candidate for 3.0.1
  CHANGELOG.md
  CMakeLists.txt
  qmcpack.settings
  src/QMCWaveFunctions/EinsplineSetBuilderOld.cpp
Labels: in progress

#683 Using VirtualParticleSet in non-local pseudo potential evaluating
  src/Numerics/VectorViewer.h
  src/Numerics/tests/CMakeLists.txt
  src/Numerics/tests/test_vector_viewer.cpp
  src/OhmmsPETE/OhmmsMatrix.h
  src/OhmmsPETE/tests/test_vector.cpp
  src/Particle/ParticleSet.cpp
  src/Particle/ParticleSet.h
  src/Particle/VirtualParticleSet.cpp
  src/Particle/VirtualParticleSet.h
  src/QMCHamiltonians/CMakeLists.txt
  src/QMCHamiltonians/ECPotentialBuilder.cpp
  src/QMCHamiltonians/NonLocalECPComponent.cpp
  src/QMCHamiltonians/NonLocalECPComponent.h
  src/QMCHamiltonians/NonLocalECPComponent.vp.cpp
  src/QMCHamiltonians/NonLocalECPotential.cpp
  src/QMCHamiltonians/NonLocalECPotential.deriv.cpp
  src/QMCHamiltonians/NonLocalECPotential.h
  src/QMCHamiltonians/NonLocalECPotential_CUDA.cpp
  src/QMCTools/trace_density.cpp
  src/QMCWaveFunctions/BsplineFactory/HybridAdoptorBase.h
  src/QMCWaveFunctions/BsplineFactory/HybridCplxAdoptor.h
  src/QMCWaveFunctions/BsplineFactory/HybridRealAdoptor.h
  src/QMCWaveFunctions/BsplineFactory/SplineC2CAdoptor.h
  src/QMCWaveFunctions/BsplineFactory/SplineC2RAdoptor.h
  src/QMCWaveFunctions/BsplineFactory/SplineR2RAdoptor.h
  src/QMCWaveFunctions/EinsplineAdoptor.h
  src/QMCWaveFunctions/Fermion/DiracDeterminantBase.cpp
  src/QMCWaveFunctions/Fermion/DiracDeterminantBase.h
  src/QMCWaveFunctions/Fermion/SlaterDet.h
  src/QMCWaveFunctions/HarmonicOscillator/SHOSet.cpp
  src/QMCWaveFunctions/HarmonicOscillator/SHOSet.h
  src/QMCWaveFunctions/Jastrow/J1OrbitalSoA.h
  src/QMCWaveFunctions/Jastrow/J2OrbitalSoA.h
  src/QMCWaveFunctions/Jastrow/JeeIOrbitalSoA.h
  src/QMCWaveFunctions/Jastrow/OneBodyJastrowOrbital.h
  src/QMCWaveFunctions/Jastrow/OneBodySpinJastrowOrbital.h
  src/QMCWaveFunctions/Jastrow/TwoBodyJastrowOrbital.h
  src/QMCWaveFunctions/Jastrow/eeI_JastrowOrbital.h
  src/QMCWaveFunctions/LCOrbitalSet.h
  src/QMCWaveFunctions/LCOrbitalSetOpt.h
  src/QMCWaveFunctions/OrbitalBase.h
  src/QMCWaveFunctions/OrbitalSetTraits.h
  src/QMCWaveFunctions/SPOSetBase.cpp
  src/QMCWaveFunctions/SPOSetBase.h
  src/QMCWaveFunctions/SplineR2RAdoptor.h
  src/QMCWaveFunctions/TrialWaveFunction.cpp
  src/QMCWaveFunctions/lcao/LCAOrbitalSet.cpp
  src/QMCWaveFunctions/tests/test_bspline_jastrow.cpp
  src/QMCWaveFunctions/tests/test_polynomial_eeI_jastrow.cpp
  tests/solids/diamondC_1x1x1_pp/CMakeLists.txt
  tests/solids/diamondC_1x1x1_pp/qmc_short_hybridrep_batched.in.xml
  tests/solids/diamondC_2x1x1_pp/CMakeLists.txt
  tests/solids/diamondC_2x1x1_pp/qmc_short_hybridrep_batched.in.xml
Labels: ECP, in progress

#687 Handle the negative count coverage case.
  tests/coverage/read_gcov.py
Labels: in progress

#690 Add a few more unit tests for CrystalLattice.
  src/Lattice/tests/test_bconds.cpp
Labels: in progress

#686 Add ppconvert to CMake build system
  src/QMCTools/CMakeLists.txt
  src/QMCTools/ppconvert/CMakeLists.txt
  src/QMCTools/ppconvert/README
  src/QMCTools/ppconvert/src/CMakeLists.txt
  src/QMCTools/ppconvert/src/CellClass.cc
  src/QMCTools/ppconvert/src/CellClass.h
  src/QMCTools/ppconvert/src/CenterClass.cc
  src/QMCTools/ppconvert/src/CenterClass.h
  src/QMCTools/ppconvert/src/NLPPClass.cc
  src/QMCTools/ppconvert/src/common/Blitz.h
  src/QMCTools/ppconvert/src/common/CMakeLists.txt
  src/QMCTools/ppconvert/src/common/FFTBox.cc
  src/QMCTools/ppconvert/src/common/FFTBox.h
  src/QMCTools/ppconvert/src/common/Functionals.cc
  src/QMCTools/ppconvert/src/common/IOHDF5.cc
  src/QMCTools/ppconvert/src/common/IOHDF5.h
  src/QMCTools/ppconvert/src/common/IOVarHDF5.cc
  src/QMCTools/ppconvert/src/common/IOVarHDF5.h
  src/QMCTools/ppconvert/src/common/RadialWF.cc
  src/QMCTools/ppconvert/src/common/temp
  src/QMCTools/ppconvert/src/common/temp.cc
  src/QMCTools/ppconvert/test/CMakeLists.txt
  src/QMCTools/ppconvert/test/Oxygen/CMakeLists.txt
  src/QMCTools/ppconvert/test/Oxygen/O.BFD.gamess
  src/QMCTools/ppconvert/test/Oxygen/O_test.sh
Labels: in progress

#693 use existing QMC_OMP to gate openmp in all compilers
  CMake/ClangCompilers.cmake
  CMake/GNUCompilers.cmake
  CMake/IntelCompilers.cmake
Labels: in progress

#691 Add unit tests for some factory classes
  src/QMCApp/HamiltonianPool.h
  src/QMCApp/WaveFunctionPool.h
  src/QMCApp/tests/CMakeLists.txt
  src/QMCApp/tests/test_hamiltonian_pool.cpp
  src/QMCHamiltonians/tests/CMakeLists.txt
  src/QMCHamiltonians/tests/test_hamiltonian_factory.cpp
  src/QMCWaveFunctions/tests/CMakeLists.txt
  src/QMCWaveFunctions/tests/test_wavefunction_factory.cpp
Labels: in progress

#696 fix for BSD's sed
  src/CMakeLists.txt
Labels: in progress

#694 Add more tests to XML-handling objects
  src/OhmmsData/tests/test_xml.cpp
Labels: in progress

#698 updating scripts for new ci
  tests/test_automation/jenkins_rhea_cpu.sh
  tests/test_automation/jenkins_rhea_gpu.sh
Labels: in progress

#697 Llvm 5 mkl
  CMake/ClangCompilers.cmake
  CMake/FindMKL.cmake
  CMakeLists.txt
Labels: in progress

#705 Clarify license for contributions
  README.md
  manual/introduction.tex
Labels: in progress

#709 Rename ENABLE_OUTSIDE_MKL to ENABLE_MKL.
  CMake/FindMKL.cmake
  CMakeLists.txt
Labels: in progress

#710 Move C++11 verification more ahead for robustness
  CMakeLists.txt
Labels: in progress

#707 Fix CMake when CMAKE_BUILD_TYPE=None.
  CMakeLists.txt
Labels: bug, in progress

#711 Cleanup CloneManager
  src/QMCDrivers/CloneManager.cpp
  src/QMCDrivers/CloneManager.h
  src/QMCDrivers/CorrelatedSampling/CSVMC.cpp
  src/QMCDrivers/CorrelatedSampling/CSVMC.h
  src/QMCDrivers/DMC/DMCFactory.cpp
  src/QMCDrivers/DMC/DMCOMP.cpp
  src/QMCDrivers/DMC/DMCOMP.h
  src/QMCDrivers/QMCCSLinearOptimizeWFmanagerOMP.cpp
  src/QMCDrivers/QMCCSLinearOptimizeWFmanagerOMP.h
  src/QMCDrivers/QMCCorrelatedSamplingLinearOptimize.cpp
  src/QMCDrivers/QMCCostFunctionCUDA.cpp
  src/QMCDrivers/QMCCostFunctionCUDA.h
  src/QMCDrivers/QMCCostFunctionOMP.cpp
  src/QMCDrivers/QMCCostFunctionOMP.h
  src/QMCDrivers/QMCFixedSampleLinearOptimize.cpp
  src/QMCDrivers/QMCLinearOptimize.cpp
  src/QMCDrivers/QMCOptimize.cpp
  src/QMCDrivers/RMC/RMCFactory.cpp
  src/QMCDrivers/RMC/RMCSingleOMP.cpp
  src/QMCDrivers/RMC/RMCSingleOMP.h
  src/QMCDrivers/VMC/VMCFactory.cpp
  src/QMCDrivers/VMC/VMCLinearOptOMP.cpp
  src/QMCDrivers/VMC/VMCSingleOMP.cpp
  src/QMCDrivers/VMC/VMCSingleOMP.h
  src/QMCDrivers/tests/test_clone_manager.cpp
  src/QMCDrivers/tests/test_dmc_omp.cpp
  src/QMCDrivers/tests/test_vmc_omp.cpp
Labels: in progress

#708 Move AoS LCAO files into src/QMCWavefunctions/MolecularOrbitals
  src/Numerics/CartesianTensor.h
  src/QMCTools/GTO2GridBuilder.h
  src/QMCTools/GridMolecularOrbitals.h
  src/QMCTools/RGFBuilderBase.h
  src/QMCWaveFunctions/CMakeLists.txt
  src/QMCWaveFunctions/DummyBasisSet.h
  src/QMCWaveFunctions/Fermion/MultiSlaterDeterminant.h
  src/QMCWaveFunctions/Fermion/MultiSlaterDeterminantFast.h
  src/QMCWaveFunctions/Fermion/MultiSlaterDeterminantWithBackflow.h
  src/QMCWaveFunctions/Fermion/SlaterDet.h
  src/QMCWaveFunctions/Fermion/SlaterDetBuilder.cpp
  src/QMCWaveFunctions/Fermion/SlaterDetOpt.cpp
  src/QMCWaveFunctions/FermionBase.cpp
  src/QMCWaveFunctions/FermionBase.h
  src/QMCWaveFunctions/Jastrow/CBSOBuilder.h
  src/QMCWaveFunctions/LCOrbitals.h
  src/QMCWaveFunctions/MixedSPOSet.h
  src/QMCWaveFunctions/MolecularOrbitals/BsplineAOBuilder.h
  src/QMCWaveFunctions/MolecularOrbitals/CorrectingOrbitalBasisSet.h
  src/QMCWaveFunctions/MolecularOrbitals/CuspCorr.cpp
  src/QMCWaveFunctions/MolecularOrbitals/CuspCorr.h
  src/QMCWaveFunctions/MolecularOrbitals/GTOBuilder.h
  src/QMCWaveFunctions/MolecularOrbitals/LCOrbitalSet.h
  src/QMCWaveFunctions/MolecularOrbitals/LCOrbitalSetOpt.h
  src/QMCWaveFunctions/MolecularOrbitals/LCOrbitalSetWithCorrection.cpp
  src/QMCWaveFunctions/MolecularOrbitals/LCOrbitalSetWithCorrection.h
  src/QMCWaveFunctions/MolecularOrbitals/LocalizedBasisSet.h
  src/QMCWaveFunctions/MolecularOrbitals/MolecularBasisBuilder.h
  src/QMCWaveFunctions/MolecularOrbitals/NGOBuilder.h
  src/QMCWaveFunctions/MolecularOrbitals/STOBuilder.h
  src/QMCWaveFunctions/MolecularOrbitals/SphericalBasisSet.h
  src/QMCWaveFunctions/PlaneWave/PWOrbitalBuilder.cpp
  src/QMCWaveFunctions/SphericalOrbitalSet.h
  src/QMCWaveFunctions/TrialWaveFunction.cpp
  src/QMCWaveFunctions/TrialWaveFunction.h
Labels: in progress

#714 Add NiO S1/2/4 performance and integration tests
  tests/performance/NiO/CMakeLists.txt
  tests/performance/NiO/DFT-inputs/NiO-fcc-SYM-supertwist111-supershift000-S2.in
  tests/performance/NiO/DFT-inputs/NiO-fcc-SYM-supertwist111-supershift000-S4.in
  tests/performance/NiO/DFT-inputs/NiO-fcc-supertwist111-supershift000-S1-nscf.in
  tests/performance/NiO/DFT-inputs/NiO-fcc-supertwist111-supershift000-S1-pw2x.in
  tests/performance/NiO/DFT-inputs/NiO-fcc-supertwist111-supershift000-S2-nscf.in
  tests/performance/NiO/DFT-inputs/NiO-fcc-supertwist111-supershift000-S2-pw2x.in
  tests/performance/NiO/DFT-inputs/NiO-fcc-supertwist111-supershift000-S4-nscf.in
  tests/performance/NiO/DFT-inputs/NiO-fcc-supertwist111-supershift000-S4-pw2x.in
  tests/performance/NiO/README
  tests/performance/NiO/sample/dmc-a16-e192-cpu-J3/NiO-fcc-S4-dmc.xml
  tests/performance/NiO/sample/dmc-a16-e192-cpu/NiO-fcc-S4-dmc.xml
  tests/performance/NiO/sample/dmc-a16-e192-gpu/NiO-fcc-S4-dmc.xml
  tests/performance/NiO/sample/dmc-a32-e384-cpu/CMakeLists.txt
  tests/performance/NiO/sample/dmc-a4-e48-cpu-J3/NiO-fcc-S1-dmc.xml
  tests/performance/NiO/sample/dmc-a4-e48-cpu/NiO-fcc-S1-dmc.xml
  tests/performance/NiO/sample/dmc-a4-e48-gpu/NiO-fcc-S1-dmc.xml
  tests/performance/NiO/sample/dmc-a8-e96-cpu-J3/NiO-fcc-S2-dmc.xml
  tests/performance/NiO/sample/dmc-a8-e96-cpu/NiO-fcc-S2-dmc.xml
  tests/performance/NiO/sample/dmc-a8-e96-gpu/NiO-fcc-S2-dmc.xml
  tests/solids/CMakeLists.txt
  tests/solids/NiO_a4_e48_pp/CMakeLists.txt
  tests/solids/NiO_a4_e48_pp/NiO-j3-vmc-long.in.xml
  tests/solids/NiO_a4_e48_pp/NiO-j3-vmc-short.in.xml
  tests/solids/NiO_a4_e48_pp/NiO-vmc-long.in.xml
  tests/solids/NiO_a4_e48_pp/NiO-vmc-short.in.xml
  tests/solids/NiO_a4_e48_pp/qmc-ref/NiO-j3-vmc-ref.in.xml
  tests/solids/NiO_a4_e48_pp/qmc-ref/NiO-j3-vmc-ref.out
  tests/solids/NiO_a4_e48_pp/qmc-ref/NiO-j3-vmc-ref.s001.scalar.dat
  tests/solids/NiO_a4_e48_pp/qmc-ref/NiO-vmc-ref.in.xml
  tests/solids/NiO_a4_e48_pp/qmc-ref/NiO-vmc-ref.out
  tests/solids/NiO_a4_e48_pp/qmc-ref/NiO-vmc-ref.s001.scalar.dat
  tests/solids/NiO_a4_e48_pp/qmc-ref/qmca.out
Labels: ECP, in progress

#712 Add test for TraceManager.
  src/Estimators/TraceManager.cpp
  src/Estimators/tests/CMakeLists.txt
  src/Estimators/tests/test_trace_manager.cpp
Labels: in progress

#713 fix for unsupported -march=native on summit
  CMake/ClangCompilers.cmake
  CMake/GNUCompilers.cmake
Labels: in progress

#716 Remove KEcorr in NiO performance test input files.
  tests/performance/NiO/sample/dmc-a1024-e12288-cpu-J3/NiO-fcc-S256-dmc.xml
  tests/performance/NiO/sample/dmc-a1024-e12288-cpu/NiO-fcc-S256-dmc.xml
  tests/performance/NiO/sample/dmc-a1024-e12288-gpu/NiO-fcc-S256-dmc.xml
  tests/performance/NiO/sample/dmc-a128-e1536-cpu-J3/NiO-fcc-S32-dmc.xml
  tests/performance/NiO/sample/dmc-a128-e1536-cpu/NiO-fcc-S32-dmc.xml
  tests/performance/NiO/sample/dmc-a128-e1536-gpu/NiO-fcc-S32-dmc.xml
  tests/performance/NiO/sample/dmc-a256-e3072-cpu-J3/NiO-fcc-S64-dmc.xml
  tests/performance/NiO/sample/dmc-a256-e3072-cpu/NiO-fcc-S64-dmc.xml
  tests/performance/NiO/sample/dmc-a256-e3072-gpu/NiO-fcc-S64-dmc.xml
  tests/performance/NiO/sample/dmc-a32-e384-cpu-J3/NiO-fcc-S8-dmc.xml
  tests/performance/NiO/sample/dmc-a32-e384-cpu/NiO-fcc-S8-dmc.xml
  tests/performance/NiO/sample/dmc-a32-e384-gpu/NiO-fcc-S8-dmc.xml
  tests/performance/NiO/sample/dmc-a512-e6144-cpu-J3/NiO-fcc-S128-dmc.xml
  tests/performance/NiO/sample/dmc-a512-e6144-cpu/NiO-fcc-S128-dmc.xml
  tests/performance/NiO/sample/dmc-a512-e6144-gpu/NiO-fcc-S128-dmc.xml
  tests/performance/NiO/sample/dmc-a64-e768-cpu-J3/NiO-fcc-S16-dmc.xml
  tests/performance/NiO/sample/dmc-a64-e768-cpu/NiO-fcc-S16-dmc.xml
  tests/performance/NiO/sample/dmc-a64-e768-gpu/NiO-fcc-S16-dmc.xml
Labels: in progress

#717 Fix unit test linking issue
  src/Estimators/tests/CMakeLists.txt
Labels: in progress

#718 Add consistency checks on test macro inputs.
  CMake/macros.cmake
  examples/afqmc/n2_vdz/CMakeLists.txt
  tests/models/CMakeLists.txt
  tests/molecules/FeCO6_b3lyp_gms/CMakeLists.txt
  tests/molecules/FeCO6_b3lyp_pyscf/CMakeLists.txt
  utils/check_scalars.py
Labels: in progress

#667 Generate code for H and I shells in CartesianTensor.h
  src/Numerics/CartesianTensor.h
  src/Numerics/codegen/CartesianTensor.h.in
  src/Numerics/codegen/SoaCartesianTensor.h.in
  src/Numerics/codegen/gen_cartesian_tensor.py
  src/Numerics/codegen/order.txt
  src/Numerics/codegen/read_order.py
  src/Numerics/tests/CMakeLists.txt
  src/Numerics/tests/gen_gto.py
  src/Numerics/tests/test_cartesian_tensor.cpp
  src/Numerics/tests/test_full_cartesian_tensor.cpp.in
  src/Numerics/tests/test_full_soa_cartesian_tensor.cpp.in
  src/Numerics/tests/test_soa_cartesian_tensor.cpp
  src/QMCTools/GamesAsciiParser.cpp
  src/QMCTools/PyscfToQmcpack.py
  src/QMCWaveFunctions/lcao/SoaCartesianTensor.h
Labels: in progress

#719 Add AFQMC integration tests
  CMake/macros.cmake
  tests/solids/CMakeLists.txt
  tests/solids/NiO_afqmc/CMakeLists.txt
  tests/solids/NiO_afqmc/README
  tests/solids/NiO_afqmc/qmc-ref/qmc_afm.in.xml
  tests/solids/NiO_afqmc/qmc-ref/qmc_afm.out
  tests/solids/NiO_afqmc/qmc-ref/qmc_afm.s000.scalar.dat
  tests/solids/NiO_afqmc/qmc-ref/qmc_nm.in.xml
  tests/solids/NiO_afqmc/qmc-ref/qmc_nm.out
  tests/solids/NiO_afqmc/qmc-ref/qmc_nm.s000.scalar.dat
  tests/solids/NiO_afqmc/qmc_long_afm.in.xml
  tests/solids/NiO_afqmc/qmc_long_nm.in.xml
  tests/solids/diamondC_afqmc/CMakeLists.txt
  tests/solids/diamondC_afqmc/README
  tests/solids/diamondC_afqmc/pyscf/c2_gamma.out
  tests/solids/diamondC_afqmc/pyscf/c2_gamma.py
  tests/solids/diamondC_afqmc/pyscf/fcidump.gamma.dat
  tests/solids/diamondC_afqmc/pyscf/scf.gamma.dump
  tests/solids/diamondC_afqmc/qmc-ref/qmc.in.xml
  tests/solids/diamondC_afqmc/qmc-ref/qmc.s000.scalar.dat
  tests/solids/diamondC_afqmc/qmc-ref/qmc_hybrid.in.xml
  tests/solids/diamondC_afqmc/qmc-ref/qmc_hybrid.s000.scalar.dat
  tests/solids/diamondC_afqmc/qmc_long.in.xml
  tests/solids/diamondC_afqmc/qmc_long_hybrid.in.xml
  tests/solids/diamondC_afqmc/qmc_short.in.xml
  tests/solids/diamondC_afqmc/qmc_short_hybrid.in.xml
  tests/solids/diamondC_afqmc/qmc_short_hybrid_nnodes2.in.xml
  tests/solids/diamondC_afqmc/qmc_short_includeMF.in.xml
  tests/solids/diamondC_afqmc/qmc_short_includeMF_nnodes2.in.xml
  tests/solids/diamondC_afqmc/qmc_short_nnodes2.in.xml
  utils/check_scalars.py
Labels: ECP, in progress, testing

#727 Fix Complex SoA build
  src/QMCWaveFunctions/SPOSetBase.cpp
  src/QMCWaveFunctions/SPOSetBase.h
  src/QMCWaveFunctions/lcao/LCAOrbitalBuilder.cpp
Labels: bug, in progress
