Repository QMCPACK/qmcpack, pull requests merged in 2018-10, with the labels that each got.

#1082 Spline threading
  src/Particle/SoaDistanceTableBA.h
  src/QMCApp/QMCMain.cpp
  src/QMCHamiltonians/CoulombPBCAA.cpp
  src/QMCTools/CMakeLists.txt
  src/QMCTools/checkAffinity.cpp
  src/QMCWaveFunctions/BsplineFactory/SplineC2CAdoptor.h
  src/QMCWaveFunctions/BsplineFactory/SplineC2RAdoptor.h
  src/QMCWaveFunctions/BsplineFactory/SplineR2RAdoptor.h
  src/Utilities/UtilityFunctions.h
  src/Utilities/tests/test_partition.cpp
Labels: ECP, in progress

#1092 Cleanup unused spo set routines
  src/QMCDrivers/WaveFunctionTester.cpp
  src/QMCWaveFunctions/BsplineFactory/BsplineSet.h
  src/QMCWaveFunctions/CMakeLists.txt
  src/QMCWaveFunctions/FDLRWfn.cpp
  src/QMCWaveFunctions/Fermion/DiracDeterminantBase.cpp
  src/QMCWaveFunctions/Fermion/DiracDeterminantSoA.cpp
  src/QMCWaveFunctions/Fermion/DiracDeterminantSoA.h
  src/QMCWaveFunctions/Fermion/DiracDeterminantWithBackflow.cpp
  src/QMCWaveFunctions/Fermion/MultiDiracDeterminantBase.cpp
  src/QMCWaveFunctions/Fermion/MultiSlaterDeterminant.cpp
  src/QMCWaveFunctions/Fermion/MultiSlaterDeterminantFast.cpp
  src/QMCWaveFunctions/Fermion/MultiSlaterDeterminantWithBackflow.cpp
  src/QMCWaveFunctions/Fermion/SlaterDet.cpp
  src/QMCWaveFunctions/Fermion/SlaterDetBuilder.cpp
  src/QMCWaveFunctions/Fermion/SlaterDetOpt.cpp
  src/QMCWaveFunctions/Fermion/SlaterDetWithBackflow.cpp
  src/QMCWaveFunctions/IonOrbital.cpp
  src/QMCWaveFunctions/Jastrow/J1OrbitalSoA.h
  src/QMCWaveFunctions/Jastrow/J2OrbitalSoA.h
  src/QMCWaveFunctions/Jastrow/JeeIOrbitalSoA.h
  src/QMCWaveFunctions/Jastrow/OneBodyJastrowOrbital.h
  src/QMCWaveFunctions/Jastrow/OneBodySpinJastrowOrbital.h
  src/QMCWaveFunctions/Jastrow/RPAJastrow.cpp
  src/QMCWaveFunctions/Jastrow/TwoBodyJastrowOrbital.h
  src/QMCWaveFunctions/Jastrow/eeI_JastrowOrbital.h
  src/QMCWaveFunctions/SPOSet.cpp
  src/QMCWaveFunctions/SPOSet.h
  src/QMCWaveFunctions/WaveFunctionComponent.cpp
  src/QMCWaveFunctions/WaveFunctionComponent.h
Labels: in progress

#1094 Rename UtilityFunctions.h to FairDivide.h
  src/AFQMC/Matrix/SMSparseMatrix.h
  src/AFQMC/Matrix/array_partition.hpp
  src/AFQMC/Matrix/hdf5_readers.hpp
  src/AFQMC/Propagators/phaseless_ImpSamp_ForceBias.cpp
  src/AFQMC/Walkers/WalkerControl.hpp
  src/AFQMC/Walkers/WalkerUtilities.hpp
  src/Message/Communicate.cpp
  src/QMCDrivers/DMC/WalkerControlMPI.cpp
  src/QMCDrivers/DMC/WalkerReconfiguration.cpp
  src/QMCDrivers/DMC/WalkerReconfigurationMPI.cpp
  src/QMCWaveFunctions/BsplineFactory/SplineC2CAdoptor.h
  src/QMCWaveFunctions/BsplineFactory/SplineC2RAdoptor.h
  src/Utilities/DistributedIndex.h
  src/Utilities/FairDivide.h
  src/Utilities/tests/test_partition.cpp
Labels: in progress

#1096 Remove unused routines
  src/QMCWaveFunctions/BsplineFactory/BsplineSet.h
  src/QMCWaveFunctions/BsplineFactory/HybridCplxAdoptor.h
  src/QMCWaveFunctions/BsplineFactory/HybridRealAdoptor.h
  src/QMCWaveFunctions/BsplineFactory/SplineC2CAdoptor.h
  src/QMCWaveFunctions/BsplineFactory/SplineC2RAdoptor.h
  src/QMCWaveFunctions/BsplineFactory/SplineR2RAdoptor.h
  src/QMCWaveFunctions/SPOSet.cpp
  src/QMCWaveFunctions/SPOSet.h
  src/QMCWaveFunctions/lcao/LCAOrbitalSet.cpp
  src/QMCWaveFunctions/lcao/LCAOrbitalSet.h
  src/QMCWaveFunctions/lcao/LCAOrbitalSetWithCorrection.cpp
  src/QMCWaveFunctions/lcao/LCAOrbitalSetWithCorrection.h
Labels: in progress

#1099 Cache ENABLE_SOA in CMakeLists and print in header
  CMakeLists.txt
  src/QMCApp/QMCMain.cpp
Labels: in progress

#1102 Use C++11 delete keyword for noncopyable copy constructors/operators
  src/QMCDrivers/CorrelatedSampling/CSVMC.h
  src/QMCDrivers/DMC/DMCOMP.h
  src/QMCDrivers/DMC/DMCUpdateAll.h
  src/QMCDrivers/DMC/DMC_CUDA.h
  src/QMCDrivers/QMCDriver.h
  src/QMCDrivers/QMCOptimize.h
  src/QMCDrivers/QMCUpdateBase.cpp
  src/QMCDrivers/QMCUpdateBase.h
  src/QMCDrivers/RMC/RMCSingleOMP.h
  src/QMCDrivers/RMC/RMCUpdateAll.h
  src/QMCDrivers/RMC/RMCUpdatePbyP.h
  src/QMCDrivers/VMC/VMCLinearOptOMP.h
  src/QMCDrivers/VMC/VMCSingleOMP.h
  src/QMCDrivers/VMC/VMCUpdateAll.h
  src/QMCDrivers/VMC/VMC_CUDA.h
  src/QMCDrivers/WaveFunctionTester.h
Labels: in progress

#1107 Fix OSX compilation and rename checkAffinity to qmc-check-affinity
  src/QMCTools/CMakeLists.txt
  src/QMCTools/check-affinity.cpp
Labels: in progress

#1109 Nexus: small fix to gaussian process code
  nexus/library/gaussian_process.py
Labels: in progress

#1093 Nexus: Quantum Package interface
  nexus/executables/ntest
  nexus/library/bundle.py
  nexus/library/generic.py
  nexus/library/machines.py
  nexus/library/nexus.py
  nexus/library/quantum_package.py
  nexus/library/quantum_package_analyzer.py
  nexus/library/quantum_package_input.py
  nexus/library/simulation.py
  nexus/library/structure.py
Labels: in progress

#1115 Enhance base class error handling.
  src/QMCWaveFunctions/Fermion/DiracDeterminantBase.h
  src/QMCWaveFunctions/Fermion/DiracDeterminantCUDA.cpp
  src/QMCWaveFunctions/Jastrow/OneBodyJastrowOrbitalBspline.h
  src/QMCWaveFunctions/Jastrow/TwoBodyJastrowOrbitalBspline.h
  src/QMCWaveFunctions/WaveFunctionComponent.h
Labels: in progress

#1117 enable soa for gpu CI to address #948
  tests/test_automation/jenkins_rhea_gpu.sh
Labels: in progress

#1118 Remove the redeclaration of ratio.
  src/QMCWaveFunctions/Fermion/DiracDeterminantBase.h
Labels: bug, in progress

#1116 Cuda type aliases
  src/CMakeLists.txt
  src/Configuration.h
  src/Particle/MCWalkerConfiguration.cpp
  src/Particle/MCWalkerConfiguration.h
  src/Particle/Walker.h
  src/QMCDrivers/DMC/DMC_CUDA.cpp
  src/QMCDrivers/DMC/DMC_CUDA.h
  src/QMCDrivers/QMCCostFunctionCUDA.cpp
  src/QMCDrivers/QMCCostFunctionCUDA.h
  src/QMCDrivers/QMCDriver.cpp
  src/QMCDrivers/RMC/RMCSingleOMP.h
  src/QMCDrivers/VMC/VMC_CUDA.cpp
  src/QMCDrivers/VMC/VMC_CUDA.h
  src/QMCWaveFunctions/EinsplineSet.h
  src/QMCWaveFunctions/EinsplineSetCuda.cpp
  src/QMCWaveFunctions/Fermion/DiracDeterminantCUDA.cpp
  src/QMCWaveFunctions/Fermion/DiracDeterminantCUDA.h
  src/QMCWaveFunctions/Fermion/SlaterDet.h
  src/QMCWaveFunctions/Jastrow/OneBodyJastrowOrbitalBspline.cpp
  src/QMCWaveFunctions/Jastrow/OneBodyJastrowOrbitalBspline.h
  src/QMCWaveFunctions/Jastrow/OneBodyJastrowOrbitalBsplineAoS.cpp
  src/QMCWaveFunctions/Jastrow/OneBodyJastrowOrbitalBsplineAoS.h
  src/QMCWaveFunctions/Jastrow/TwoBodyJastrowOrbitalBspline.cpp
  src/QMCWaveFunctions/Jastrow/TwoBodyJastrowOrbitalBspline.h
  src/QMCWaveFunctions/Jastrow/TwoBodyJastrowOrbitalBsplineAoS.cpp
  src/QMCWaveFunctions/Jastrow/TwoBodyJastrowOrbitalBsplineAoS.h
  src/QMCWaveFunctions/SPOSet.cpp
  src/QMCWaveFunctions/SPOSet.h
  src/QMCWaveFunctions/TrialWaveFunction.h
  src/QMCWaveFunctions/TrialWaveFunction_CUDA.cpp
  src/QMCWaveFunctions/WaveFunctionComponent.h
  src/type_traits/CUDATypes.h
  src/type_traits/QMCTypes.h
  src/type_traits/tests/CMakeLists.txt
  src/type_traits/tests/test_cuda_types.cpp
  src/type_traits/tests/test_qmctypes.cpp
Labels: in progress

#1119 Nexus: Update for Nexus Monthly Meeting (Oct)
  nexus/library/nexus.py
  nexus/library/nexus_base.py
  nexus/library/simulation.py
  nexus/library/structure.py
Labels: in progress

#1112 Nexus: enable rsync for Quantum Package
  nexus/executables/ntest
  nexus/library/execute.py
  nexus/library/quantum_package.py
  nexus/library/quantum_package_input.py
  nexus/library/simulation.py
Labels: in progress

#1113 Nexus: enable QM Package restart for selected CI
  nexus/library/quantum_package.py
  nexus/library/quantum_package_input.py
  nexus/library/simulation.py
Labels: in progress

#1114 Nexus: add failure check to QM Package SCF runs
  nexus/library/quantum_package.py
  nexus/library/quantum_package_input.py
Labels: in progress

#1120 Clean up utils directory
  utils/DMCEnergy.py
  utils/Energy.py
  utils/FWforces.py
  utils/Forces.py
  utils/PlotBsplConv.pl
  utils/PlotDMC.py
  utils/PlotTstepConv.pl
  utils/PlotTwistConv.pl
  utils/PlotTwists.pl
  utils/check_input.py
  utils/check_qmcsystem.py
  utils/cuspcorrection.py
  utils/generate.py
  utils/getBestSupercell.pl
  utils/plot_fsatom.py
  utils/single_stat.perl
Labels: cleanup, in progress

#1098 Test categorization via ctest labels
  CMake/macros.cmake
  CMake/run_qe.cmake
  CMake/test_labels.cmake
  CMake/unit_test.cmake
  nexus/tests/CMakeLists.txt
  src/AFQMC/Matrix/tests/CMakeLists.txt
  src/AFQMC/Numerics/tests/CMakeLists.txt
  src/Estimators/tests/CMakeLists.txt
  src/Lattice/tests/CMakeLists.txt
  src/Numerics/tests/CMakeLists.txt
  src/OhmmsData/tests/CMakeLists.txt
  src/OhmmsPETE/tests/CMakeLists.txt
  src/Particle/tests/CMakeLists.txt
  src/ParticleBase/tests/CMakeLists.txt
  src/ParticleIO/tests/CMakeLists.txt
  src/QMCApp/tests/CMakeLists.txt
  src/QMCDrivers/tests/CMakeLists.txt
  src/QMCHamiltonians/tests/CMakeLists.txt
  src/QMCWaveFunctions/tests/CMakeLists.txt
  src/Utilities/tests/CMakeLists.txt
  src/einspline/tests/CMakeLists.txt
  src/io/tests/CMakeLists.txt
  src/spline2/tests/CMakeLists.txt
  tests/converter/CMakeLists.txt
  tests/io/CMakeLists.txt
  tests/scripts/test_labels.py
  tests/solids/bccH_1x1x1_ae/CMakeLists.txt
  tests/solids/diamondC_1x1x1_pp/CMakeLists.txt
Labels: ECP, in progress

#1123 Nexus: enable gamess orbital dependency for quantum package
  nexus/library/quantum_package.py
Labels: in progress

#937 Coding standards
  doxygen/qmcpack.cfg
  manual/HEADER.txt
  manual/coding_standards.tex
  manual/developing.tex
  manual/qmcpack_manual.tex
  src/.clang-format
  src/.clang-tidy
  src/QMCWaveFunctions/Fermion/SlaterDet.h
  tests/test_automation/jenkins_rhea_gpu.sh
Labels: in progress

#1129 Reorder splines for simpler parallel construction
  src/QMCWaveFunctions/BsplineFactory/HybridAdoptorBase.h
  src/QMCWaveFunctions/BsplineFactory/HybridCplxAdoptor.h
  src/QMCWaveFunctions/BsplineFactory/HybridRealAdoptor.h
  src/QMCWaveFunctions/BsplineFactory/SplineAdoptorBase.h
  src/QMCWaveFunctions/BsplineFactory/SplineAdoptorReaderP.h
  src/QMCWaveFunctions/BsplineFactory/SplineC2CAdoptor.h
  src/QMCWaveFunctions/BsplineFactory/SplineC2RAdoptor.h
  src/QMCWaveFunctions/BsplineFactory/SplineHybridAdoptorReaderP.h
  src/QMCWaveFunctions/BsplineFactory/SplineR2RAdoptor.h
Labels: in progress

#1130 preventing some function calls from breaking before first parameter
  src/.clang-format
Labels: in progress

#1132 Print a warning for the buggy glibc 2.23 in cmake.
  CMake/FindVectorMath.cmake
Labels: in progress

#1133 Also need to protect glibc 2.22
  CMake/FindVectorMath.cmake
Labels: in progress

#1135 Update to C++14 as the minimum required standard
  CMake/TestCxx14Library.cmake
  CMakeLists.txt
  config/BGQ_Clang_ToolChain.cmake
  config/build_alcf_mira.sh
  manual/installation.tex
  tests/test_automation/nightly_anl_cetus.sub
Labels: in progress
