Repository QMCPACK/qmcpack, pull requests merged in 2018-07, with the labels that each got.

#908 Add unit test for cusp correction
  src/QMCWaveFunctions/MolecularOrbitals/CuspCorr.h
  src/QMCWaveFunctions/tests/CMakeLists.txt
  src/QMCWaveFunctions/tests/gen_cusp_corr.py
  src/QMCWaveFunctions/tests/test_cusp_corr.cpp
Labels: in progress

#911 Skip cusp correction test in SOA build
  src/QMCWaveFunctions/tests/CMakeLists.txt
Labels: in progress

#916 Remove deprecated features from the manual
  examples/solids/dft-inputs-no-collect/LiH-nscf.in
  examples/solids/dft-inputs-no-collect/LiH-scf.in
  examples/solids/dft-inputs-polarized-no-collect/LiH-nscf.in
  examples/solids/dft-inputs-polarized-no-collect/LiH-scf.in
  labs/lab4_condensed_matter/graphene-final.py
  labs/lab4_condensed_matter/graphene-loop-buffer.py
  labs/lab4_condensed_matter/graphene-loop-mesh.py
  manual/additional_tools.tex
  manual/analysis.tex
  manual/hamiltonianobservable.tex
  manual/intro_wavefunction.tex
  manual/jastrow.tex
  manual/jastrow_one_body_spline.tex
  manual/lab_condensed_matter.tex
  manual/lab_qmc_basics.tex
  manual/qmcpack_manual.tex
  manual/spo_spline.tex
Labels: in progress

#918 Set LCAO pyscf tests based on SOA_SUCCESS
  src/QMCWaveFunctions/MolecularOrbitals/AtomicBasisBuilder.h
  tests/molecules/FeCO6_b3lyp_pyscf/CMakeLists.txt
  tests/molecules/LiH_dimer_ae_gms/CMakeLists.txt
  tests/molecules/LiH_dimer_ae_pyscf/CMakeLists.txt
  tests/molecules/LiH_dimer_ae_qp/CMakeLists.txt
Labels: in progress

#912 Add option for building with NVTX in the CUDA code
  CMakeLists.txt
  manual/external_tools.tex
  src/QMCDrivers/DMC/DMC_CUDA.cpp
  src/QMCDrivers/VMC/VMC_CUDA.cpp
  src/config.h.cmake.in
Labels: in progress

#917 Align pade2 input tag as pade
  manual/jastrow_one_body_pade.tex
  src/QMCWaveFunctions/Jastrow/PadeFunctors.h
Labels: in progress

#920 Update three body Jastrow manual section
  manual/bibliography.bib
  manual/jastrow.tex
Labels: documentaton, in progress

#923 Restore the header of bibliography in the manual
  manual/qmcpack_manual.tex
Labels: in progress

#924 Remove the Intel specific code-path in einspline_allocator
  src/spline2/einspline_allocator.c
Labels: in progress

#926 fixing ifdef typo for AoS, been there for a while
  src/QMCWaveFunctions/ElectronGas/ElectronGasComplexOrbitalBuilder.cpp
  src/QMCWaveFunctions/PlaneWave/PWOrbitalBuilder.cpp
  src/QMCWaveFunctions/SPOSetBase.h
Labels: in progress

#915 Add pw2qmcpack patch for QE 6.3
  external_codes/quantum_espresso/README
  external_codes/quantum_espresso/add_pw2qmcpack_to_qe-6.3.diff
  external_codes/quantum_espresso/download_and_patch_qe6.3.sh
  manual/installation.tex
Labels: in progress

#929 Consistent name SingleParticleXXX
  src/Configuration.h
  src/Particle/Walker.h
  src/QMCDrivers/CorrelatedSampling/CSVMCUpdateAll.cpp
  src/QMCDrivers/WaveFunctionTester.cpp
  src/QMCHamiltonians/PulayForce.cpp
  src/QMCHamiltonians/StressPBC.cpp
  src/QMCWaveFunctions/AGPDeterminant.h
  src/QMCWaveFunctions/Fermion/DiracDeterminantBase.h
  src/QMCWaveFunctions/Fermion/DiracDeterminantWithBackflow.cpp
  src/QMCWaveFunctions/Fermion/MultiSlaterDeterminant.cpp
  src/QMCWaveFunctions/Fermion/MultiSlaterDeterminantWithBackflow.cpp
  src/QMCWaveFunctions/Fermion/SlaterDetWithBackflow.cpp
  src/QMCWaveFunctions/PlaneWave/PWOrbitalBuilder.cpp
Labels: in progress

#927 Split EinsplineAdoptor.h into SplineAdoptorBase.h and BsplineSet.h and delete dead code
  src/QMCWaveFunctions/BsplineFactory/BsplineReaderBase.cpp
  src/QMCWaveFunctions/BsplineFactory/BsplineReaderBase.h
  src/QMCWaveFunctions/BsplineFactory/BsplineSet.h
  src/QMCWaveFunctions/BsplineFactory/SplineAdoptorBase.h
  src/QMCWaveFunctions/BsplineFactory/SplineAdoptorReaderP.h
  src/QMCWaveFunctions/BsplineFactory/SplineC2CAdoptor.h
  src/QMCWaveFunctions/BsplineFactory/SplineC2RAdoptor.h
  src/QMCWaveFunctions/BsplineFactory/SplineHybridAdoptorReaderP.h
  src/QMCWaveFunctions/BsplineFactory/SplineR2RAdoptor.h
  src/QMCWaveFunctions/BsplineFactory/createComplexDouble.cpp
  src/QMCWaveFunctions/BsplineFactory/createComplexSingle.cpp
  src/QMCWaveFunctions/BsplineFactory/createRealDouble.cpp
  src/QMCWaveFunctions/BsplineFactory/createRealSingle.cpp
  src/QMCWaveFunctions/CMakeLists.txt
  src/QMCWaveFunctions/EinsplineSetBuilderCommon.cpp
  src/QMCWaveFunctions/EinsplineSetBuilder_createSPOs.cpp
Labels: in progress

#930 Add unit test for MultiQuinticSpline1D
  src/QMCWaveFunctions/lcao/MultiQuinticSpline1D.h
  src/QMCWaveFunctions/tests/CMakeLists.txt
  src/QMCWaveFunctions/tests/test_multiquintic_spline.cpp
Labels: in progress

#931 Update oxygen scripts to QE6.3
  tests/test_automation/nightly_ornl_oxygen.sh
  tests/test_automation/weekly_ornl_oxygen.sh
Labels: in progress

#935 Add deterministic test of mt19937 random generator
  src/Utilities/tests/test_rng.cpp
Labels: in progress

#933 Enable mkl docs
  README.md
  manual/installation.tex
  manual/qmcpack_manual.tex
Labels: in progress

#938 Remove unsafe alignment assumption in simd::copy_n
  src/simd/algorithm.hpp
Labels: bug, in progress

#940 Fix BGQ runjob helper script
  utils/bgrunjobhelper.sh
Labels: in progress

#939 Remove neighbourlist in distance tables
  src/Particle/AsymmetricDistanceTableData.h
  src/Particle/DistanceTableAA.cpp
  src/Particle/DistanceTableAB.cpp
  src/Particle/DistanceTableData.h
  src/Particle/ParticleSet.cpp
  src/Particle/ParticleSet.h
  src/Particle/SoaDistanceTableAA.h
  src/Particle/SoaDistanceTableBA.h
  src/Particle/SymmetricDistanceTableData.h
  src/QMCDrivers/tests/test_dmc.cpp
  src/QMCDrivers/tests/test_vmc.cpp
  src/QMCHamiltonians/CoulombPBCAB.cpp
  src/QMCHamiltonians/ECPotentialBuilder.cpp
  src/QMCHamiltonians/NonLocalECPotential.cpp
  src/Sandbox/FakeWaveFunction.h
  src/Sandbox/diff_distancetables.cpp
  src/Sandbox/diff_j1.cpp
  src/Sandbox/diff_wfs.cpp
  src/Sandbox/miniqmc.cpp
Labels: in progress
