Repository QMCPACK/qmcpack, pull requests merged in 2019-10, with the labels that each got.

#1977 Fix compilation
  src/QMCDrivers/Optimizers/DescentEngine.cpp
  src/QMCDrivers/Optimizers/HybridEngine.cpp
Labels: bug

#2016 Fix CUDA runs due to NLPP RNG = nullptr
  src/QMCDrivers/DMC/DMC_CUDA.cpp
  src/QMCDrivers/VMC/VMC_CUDA.cpp
  tests/test_automation/nightly_olcf_summit.sh
Labels: bug

#2015 Fix AoS no Jastrow
  src/Particle/ParticleSet.cpp
Labels: bug

#2017 Fix opt tests
  src/QMCDrivers/Optimizers/OptimizerTypes.h
  tests/molecules/H4_msd_ae/CMakeLists.txt
Labels: bug

#2034 Fix DMCbatch timing
  src/CUDA/tests/test_CUDAallocator.cpp
  src/QMCDrivers/DMC/DMCBatched.cpp
  src/QMCDrivers/VMC/VMCBatched.cpp
  src/QMCWaveFunctions/TrialWaveFunction.cpp
  tests/solids/diamondC_2x1x1_pp/CMakeLists.txt
  tests/solids/diamondC_2x1x1_pp/qmc_short_vmcbatch_dmcbatch.in.xml
Labels: bug

#2052 Update the Spack Installation section of the QMCPACK manual
  manual/installation.tex
Labels: documentaton

#2053 Spack nightly test script that runs on Ubuntu Desktop at Argonne.
  tests/test_automation/spack_nightly_ubuntu.sh
Labels: testing
