Repository QMCPACK/qmcpack, pull requests merged in 2019-03, with the labels that each got.

#1407 Small bug fixes to NonLocalECPotential and DiracDeterminant
  src/QMCHamiltonians/NonLocalECPotential.cpp
  src/QMCWaveFunctions/Fermion/DiracDeterminant.cpp
Labels: bug, in progress

#1410 Reorder gather_n calls to satisfy clang
  external_codes/mpi_wrapper/mpi3/communicator.hpp
Labels: in progress

#1409 Add CoulombAA SoA Force path. CoulombAB bug fix.
  src/QMCHamiltonians/CoulombPBCAA.cpp
  src/QMCHamiltonians/CoulombPBCAA.h
  src/QMCHamiltonians/CoulombPBCAB.cpp
Labels: in progress

#1411 Fix bug with half rotated integrals
  src/AFQMC/Hamiltonians/rotateHamiltonian.hpp
  src/AFQMC/Memory/SharedMemory/shm_ptr_with_raw_ptr_dispatch.hpp
  src/AFQMC/Wavefunctions/tests/test_wfn_factory.cpp
Labels: in progress

#1413 Long range handler bug fixes.
  src/LongRange/LPQHIBasis.h
  src/LongRange/LRHandlerSRCoulomb.h
  src/LongRange/LRHandlerTemp.h
  src/QMCWaveFunctions/Jastrow/LRBreakupUtilities.h
Labels: in progress

#1416 Allow Pseudopotential Forces in Real Build
  src/QMCHamiltonians/LocalECPotential.cpp
  src/QMCHamiltonians/LocalECPotential.h
  src/QMCHamiltonians/NonLocalECPComponent.cpp
  src/QMCHamiltonians/tests/test_ecp.cpp
Labels: in progress

#1419 removing GPU_XRAY_TRACE macro and cmake option XRAY_GPU_MOST
  CMake/ClangCompilers.cmake
  examples/profiling/build_llvm_nvcc_xray_instrumented.sh
  src/Configuration.h
  src/Particle/MCWalkerConfiguration.h
  src/Particle/Walker.h
  src/QMCDrivers/DMC/DMC_CUDA.h
  src/QMCDrivers/VMC/VMC_CUDA.h
  src/QMCHamiltonians/MPC_CUDA.h
  src/QMCHamiltonians/NonLocalECPotential_CUDA.h
  src/QMCHamiltonians/SkEstimator_CUDA.h
  src/QMCWaveFunctions/EinsplineSet.h
  src/QMCWaveFunctions/Fermion/SlaterDet.h
  src/QMCWaveFunctions/Jastrow/OneBodyJastrowOrbitalBspline.h
  src/QMCWaveFunctions/Jastrow/OneBodyJastrowOrbitalBsplineAoS.h
  src/QMCWaveFunctions/Jastrow/TwoBodyJastrowOrbitalBspline.h
  src/QMCWaveFunctions/Jastrow/TwoBodyJastrowOrbitalBsplineAoS.h
  src/QMCWaveFunctions/TrialWaveFunction.h
Labels: in progress

#1420 Clang format stage 2
  src/Lattice/tests/test_bconds.cpp
  src/Particle/AdiosWalkerInput.cpp
  src/Particle/AdiosWalkerInput.h
  src/Particle/AsymmetricDistanceTableData.h
  src/Particle/DistanceTable.cpp
  src/Particle/DistanceTable.h
  src/Particle/DistanceTableAA.cpp
  src/Particle/DistanceTableAB.cpp
  src/Particle/DistanceTableData.h
  src/Particle/FastParticleOperators.h
  src/Particle/HDFParticleAttrib.h
  src/Particle/HDFWalkerIO.h
  src/Particle/HDFWalkerInputManager.cpp
  src/Particle/HDFWalkerInputManager.h
  src/Particle/HDFWalkerInput_0_0.cpp
  src/Particle/HDFWalkerInput_0_0.h
  src/Particle/HDFWalkerInput_0_4.cpp
  src/Particle/HDFWalkerInput_0_4.h
  src/Particle/HDFWalkerOutput.cpp
  src/Particle/HDFWalkerOutput.h
  src/Particle/MCWalkerConfiguration.cpp
  src/Particle/MCWalkerConfiguration.h
  src/Particle/NeighborLists.h
  src/Particle/ParticleSet.BC.cpp
  src/Particle/ParticleSet.cpp
  src/Particle/ParticleSet.h
  src/Particle/Reptile.h
  src/Particle/SoaDistanceTableAA.h
  src/Particle/SoaDistanceTableBA.h
  src/Particle/SymmetricDistanceTableData.h
  src/Particle/VirtualParticleSet.cpp
  src/Particle/VirtualParticleSet.h
  src/Particle/Walker.h
  src/Particle/WalkerSetRef.h
  src/Particle/accept_kernel.cu
  src/Particle/accept_kernel.h
  src/Particle/tests/test_distance_table.cpp
  src/Particle/tests/test_particle.cpp
  src/Particle/tests/test_walker.cpp
  src/io/hdf_archive.cpp
  src/io/hdf_archive.h
  src/io/hdf_dataproxy.h
  src/io/hdf_dataspace.h
  src/io/hdf_datatype.h
  src/io/hdf_double_hyperslab.h
  src/io/hdf_hyperslab.h
  src/io/hdf_multi.h
  src/io/hdf_pete.h
  src/io/hdf_stl.h
  src/io/tests/test_hdf_archive.cpp
  src/io/tests/test_hdf_multiarray.cpp
  src/io/tests/test_hdf_parallel.cpp
  src/type_traits/CUDATypes.h
  src/type_traits/QMCTypes.h
  src/type_traits/container_proxy.h
  src/type_traits/container_proxy_multi.h
  src/type_traits/scalar_traits.h
  src/type_traits/tests/test_cuda_types.cpp
  src/type_traits/tests/test_qmctypes.cpp
  utils/full_clang-format.py
Labels: in progress

#1417 Check compiler and libstdc++ compatibility
  CMake/Testlibstdc++.cmake
  CMakeLists.txt
Labels: in progress

#1418 squeue correction for nexus
  nexus/lib/machines.py
Labels: in progress

#1426 Fix error handling of XML include.
  src/Message/Communicate.cpp
  src/QMCApp/QMCMain.cpp
Labels: in progress

#1430 Add and tidy applications aborts
  src/QMCHamiltonians/QMCHamiltonianBase.cpp
  src/QMCWaveFunctions/OptimizableSPOSet.cpp
  src/QMCWaveFunctions/SPOSet.cpp
  src/QMCWaveFunctions/SPOSet.h
  src/QMCWaveFunctions/WaveFunctionComponent.h
Labels: in progress

#1429 introduction.tex: Fix path
  manual/introduction.tex
Labels: in progress

#1432 Nexus: make tiling more robust
  nexus/bin/nxs-test
  nexus/lib/structure.py
Labels: in progress

#1428 Improve single det class inheritance
  src/QMCWaveFunctions/CMakeLists.txt
  src/QMCWaveFunctions/ElectronGas/ElectronGasOrbitalBuilder.cpp
  src/QMCWaveFunctions/Fermion/DiracDeterminant.h
  src/QMCWaveFunctions/Fermion/DiracDeterminantBase.h
  src/QMCWaveFunctions/Fermion/DiracDeterminantOpt.cpp
  src/QMCWaveFunctions/Fermion/DiracDeterminantOpt.h
  src/QMCWaveFunctions/Fermion/DiracDeterminantWithBackflow.cpp
  src/QMCWaveFunctions/Fermion/DiracDeterminantWithBackflow.h
  src/QMCWaveFunctions/Fermion/MultiSlaterDeterminant.h
  src/QMCWaveFunctions/Fermion/SlaterDetBuilder.cpp
Labels: in progress

#1439 update rhea scripts with new modules
  tests/test_automation/jenkins_rhea_cpu.sh
  tests/test_automation/jenkins_rhea_gpu.sh
Labels: in progress

#1433 Fix backflow
  src/QMCWaveFunctions/Fermion/DiracDeterminantWithBackflow.h
Labels: bug, in progress

#1434 Fix undefined references in advanced molecules lab
  manual/lab_advanced_molecules.tex
Labels: enhancement, in progress

#1437 Manage raw MPI communicator in Communicate
  CMake/Testlibstdc++.cmake
  src/Message/Communicate.cpp
  src/Message/Communicate.h
  src/QMCApp/QMCMain.cpp
  src/QMCApp/qmcapp.cpp
  src/QMCDrivers/QMCDriver.cpp
  src/qmc_common.cpp
  src/qmc_common.h
Labels: in progress

#1438 Open HDF orbital file in read-only mode in PW code
  src/QMCWaveFunctions/PlaneWave/PWOrbitalBuilder.cpp
Labels: in progress

#1445 Fix CMake/Testlibstdc++ for cmake<3.8
  CMake/Testlibstdc++.cmake
Labels: in progress

#1447 Enforce the destruction of myMPI after myComm
  src/Message/Communicate.cpp
  src/Message/Communicate.h
Labels: bug, in progress

#1442 clang-format of QMCWaveFunctions/Fermion folder
  src/QMCWaveFunctions/Fermion/BackflowBuilder.cpp
  src/QMCWaveFunctions/Fermion/BackflowBuilder.h
  src/QMCWaveFunctions/Fermion/BackflowFunctionBase.h
  src/QMCWaveFunctions/Fermion/BackflowTransformation.h
  src/QMCWaveFunctions/Fermion/Backflow_eI.h
  src/QMCWaveFunctions/Fermion/Backflow_eI_spin.h
  src/QMCWaveFunctions/Fermion/Backflow_ee.h
  src/QMCWaveFunctions/Fermion/Backflow_ee_kSpace.h
  src/QMCWaveFunctions/Fermion/DelayedUpdate.h
  src/QMCWaveFunctions/Fermion/DiracDeterminant.cpp
  src/QMCWaveFunctions/Fermion/DiracDeterminant.h
  src/QMCWaveFunctions/Fermion/DiracDeterminantBase.h
  src/QMCWaveFunctions/Fermion/DiracDeterminantCUDA.cpp
  src/QMCWaveFunctions/Fermion/DiracDeterminantCUDA.h
  src/QMCWaveFunctions/Fermion/DiracDeterminantWithBackflow.cpp
  src/QMCWaveFunctions/Fermion/DiracDeterminantWithBackflow.h
  src/QMCWaveFunctions/Fermion/DiracMatrix.h
  src/QMCWaveFunctions/Fermion/MultiDiracDeterminant.2.cpp
  src/QMCWaveFunctions/Fermion/MultiDiracDeterminant.cpp
  src/QMCWaveFunctions/Fermion/MultiDiracDeterminant.h
  src/QMCWaveFunctions/Fermion/MultiSlaterDeterminant.cpp
  src/QMCWaveFunctions/Fermion/MultiSlaterDeterminant.h
  src/QMCWaveFunctions/Fermion/MultiSlaterDeterminantFast.cpp
  src/QMCWaveFunctions/Fermion/MultiSlaterDeterminantFast.h
  src/QMCWaveFunctions/Fermion/MultiSlaterDeterminantWithBackflow.cpp
  src/QMCWaveFunctions/Fermion/MultiSlaterDeterminantWithBackflow.h
  src/QMCWaveFunctions/Fermion/SPOSetProxy.cpp
  src/QMCWaveFunctions/Fermion/SPOSetProxy.h
  src/QMCWaveFunctions/Fermion/SPOSetProxyForMSD.cpp
  src/QMCWaveFunctions/Fermion/SPOSetProxyForMSD.h
  src/QMCWaveFunctions/Fermion/SlaterDet.cpp
  src/QMCWaveFunctions/Fermion/SlaterDet.h
  src/QMCWaveFunctions/Fermion/SlaterDetBuilder.cpp
  src/QMCWaveFunctions/Fermion/SlaterDetBuilder.h
  src/QMCWaveFunctions/Fermion/SlaterDetCUDA.cpp
  src/QMCWaveFunctions/Fermion/SlaterDetOpt.cpp
  src/QMCWaveFunctions/Fermion/SlaterDetOpt.h
  src/QMCWaveFunctions/Fermion/SlaterDetWithBackflow.cpp
  src/QMCWaveFunctions/Fermion/SlaterDetWithBackflow.h
  src/QMCWaveFunctions/Fermion/ci_configuration.h
  src/QMCWaveFunctions/Fermion/ci_configuration2.h
  src/QMCWaveFunctions/Fermion/delayed_update.cu
  src/QMCWaveFunctions/Fermion/delayed_update.h
  src/QMCWaveFunctions/Fermion/determinant_update.cu
  src/QMCWaveFunctions/Fermion/determinant_update.h
Labels: in progress

#1435 NEXUS user guide builds with xelatex and fixes
  nexus/docs/build_nexus_user_guide.sh
  nexus/docs/nexus_user_guide.tex
Labels: in progress

#1453 MPC Flag & MPC test is added in diamondC_1x1x1 testset, and the precision has changed to the double.
  CMake/macros.cmake
  tests/solids/diamondC_1x1x1_pp/CMakeLists.txt
  tests/solids/diamondC_1x1x1_pp/det_qmc_short-meshf.in.xml
  tests/solids/diamondC_1x1x1_pp/det_qmc_short.in.xml
  tests/solids/diamondC_1x1x1_pp/det_qmc_short_kspace.in.xml
  tests/solids/diamondC_1x1x1_pp/det_qmc_short_vmc_dmc.in.xml
Labels: in progress

#1461 Fix AFQMC compilation with boost 1.61
  src/AFQMC/Numerics/helpers/determinant.hpp
Labels: in progress

#1463 Nexus: update for Cori
  nexus/lib/machines.py
Labels: in progress

#1462 Update cades build script
  config/build_ornl_cades.sh
Labels: in progress

#1466 Workaround rhea issue
  tests/test_automation/jenkins_rhea_cpu.sh
  tests/test_automation/jenkins_rhea_gpu.sh
Labels: in progress

#1465 Add walker communication tests
  src/QMCDrivers/tests/test_walker_control.cpp
Labels: in progress

#1470 Add MPC test to diamondC_1x1x1_pp testset.
  tests/solids/diamondC_1x1x1_pp/CMakeLists.txt
  tests/solids/diamondC_1x1x1_pp/qmc_long-meshf.in.xml
  tests/solids/diamondC_1x1x1_pp/qmc_long.in.xml
  tests/solids/diamondC_1x1x1_pp/qmc_long_vmc_dmc.in.xml
  tests/solids/diamondC_1x1x1_pp/qmc_long_vmc_dmc_allp.in.xml
  tests/solids/diamondC_1x1x1_pp/qmc_short-meshf.in.xml
  tests/solids/diamondC_1x1x1_pp/qmc_short.in.xml
  tests/solids/diamondC_1x1x1_pp/qmc_short_hybridrep.in.xml
  tests/solids/diamondC_1x1x1_pp/qmc_short_vmc_dmc.in.xml
  tests/solids/diamondC_1x1x1_pp/qmc_short_vmc_dmc_allp.in.xml
Labels: in progress

#1472 Update titan build to current software versions. Mention QMC_SYMLINK in manual
  config/build_olcf_titan.sh
  manual/installation.tex
Labels: in progress

#1474 Reenable afqmc rdms
  src/AFQMC/Drivers/DriverFactory.cpp
  src/AFQMC/Estimators/BackPropagatedEstimator.h
  src/AFQMC/Estimators/EstimatorHandler.h
  src/AFQMC/Estimators/MixedRDMEstimator.h
  src/AFQMC/Estimators/OneRdmEstimator.h
  src/AFQMC/Estimators/tests/CMakeLists.txt
  src/AFQMC/Estimators/tests/test_estimators.cpp
  src/AFQMC/Matrix/csr_hdf5_readers.hpp
  src/AFQMC/Propagators/AFQMCBasePropagator.icc
  src/AFQMC/Propagators/AFQMCDistributedPropagator.icc
  src/AFQMC/Propagators/AFQMCDistributedPropagatorDistCV.icc
  src/AFQMC/Propagators/AFQMCSharedPropagator.icc
  src/AFQMC/Propagators/WalkerSetUpdate.hpp
  src/AFQMC/Propagators/tests/CMakeLists.txt
  src/AFQMC/Wavefunctions/NOMSD.hpp
  src/AFQMC/Wavefunctions/NOMSD.icc
  src/AFQMC/Wavefunctions/PHMSD.hpp
  src/AFQMC/Wavefunctions/PHMSD.icc
  src/AFQMC/Wavefunctions/Wavefunction.hpp
Labels: in progress

#1444 Add delayed updates using cublas in the CPU code path
  CMakeLists.txt
  src/CMakeLists.txt
  src/CUDA/CUDAallocator.hpp
  src/CUDA/cudaError.h
  src/Message/Communicate.h
  src/Numerics/CUDA/cuBLAS.hpp
  src/OhmmsPETE/OhmmsMatrix.h
  src/OhmmsPETE/OhmmsVector.h
  src/Platforms/accelerators.cpp
  src/Platforms/accelerators.hpp
  src/QMCApp/QMCMain.cpp
  src/QMCDrivers/CloneManager.cpp
  src/QMCDrivers/CloneManager.h
  src/QMCHamiltonians/tests/CMakeLists.txt
  src/QMCWaveFunctions/CMakeLists.txt
  src/QMCWaveFunctions/ElectronGas/ElectronGasComplexOrbitalBuilder.cpp
  src/QMCWaveFunctions/ElectronGas/ElectronGasOrbitalBuilder.cpp
  src/QMCWaveFunctions/Fermion/DelayedUpdate.h
  src/QMCWaveFunctions/Fermion/DelayedUpdateCUDA.h
  src/QMCWaveFunctions/Fermion/DiracDeterminant.cpp
  src/QMCWaveFunctions/Fermion/DiracDeterminant.h
  src/QMCWaveFunctions/Fermion/MultiSlaterDeterminant.cpp
  src/QMCWaveFunctions/Fermion/MultiSlaterDeterminant.h
  src/QMCWaveFunctions/Fermion/MultiSlaterDeterminantFast.h
  src/QMCWaveFunctions/Fermion/SlaterDetBuilder.cpp
  src/QMCWaveFunctions/Fermion/SlaterDetBuilder.h
  src/QMCWaveFunctions/Fermion/delayed_update_helper.cu
  src/QMCWaveFunctions/Fermion/delayed_update_helper.h
  src/QMCWaveFunctions/PlaneWave/PWOrbitalBuilder.cpp
  src/QMCWaveFunctions/tests/test_dirac_det.cpp
  src/QMCWaveFunctions/tests/test_dirac_matrix.cpp
  src/Utilities/PooledMemory.h
  src/Utilities/tests/test_pooled_memory.cpp
  src/config.h.cmake.in
  src/einspline/CMakeLists.txt
  src/einspline/tests/CMakeLists.txt
  src/qmc_common.cpp
  src/qmc_common.h
  src/simd/MemorySpace.hpp
Labels: in progress

#1457 Add QE6.4 patch
  external_codes/quantum_espresso/add_pw2qmcpack_to_espresso-5.3.0.diff
  external_codes/quantum_espresso/add_pw2qmcpack_to_qe-6.4.diff
  external_codes/quantum_espresso/download_and_patch_qe6.2.1.sh
  external_codes/quantum_espresso/download_and_patch_qe6.4.sh
Labels: in progress

#1476 Print additional afqmc estimators
  src/AFQMC/Estimators/BackPropagatedEstimator.h
  src/AFQMC/Estimators/EnergyEstimator.h
  src/AFQMC/Estimators/MixedRDMEstimator.h
  src/AFQMC/Estimators/tests/test_estimators.cpp
Labels: in progress

#1479 Solve Summit MPI message size limit issue
  src/spline/einspline_util.hpp
Labels: in progress

#1481 Update oxygen scripts for QE 6.4
  tests/test_automation/README
  tests/test_automation/nightly_ornl_oxygen.sh
  tests/test_automation/weekly_ornl_oxygen.sh
Labels: in progress

#1483 Label deterministic tests
  CMake/ctest_script.cmake
  CMake/unit_test.cmake
  tests/scripts/test_labels.py
Labels: in progress

#1484 Fix real build
  CMakeLists.txt
  src/AFQMC/Estimators/BackPropagatedEstimator.h
  src/AFQMC/Estimators/SlaterDetOperations.h
  src/AFQMC/Estimators/tests/test_estimators.cpp
  src/AFQMC/HamiltonianOperations/KP3IndexFactorization.hpp
  src/AFQMC/HamiltonianOperations/KP3IndexFactorization_batched.hpp
  src/AFQMC/HamiltonianOperations/KPTHCOps.hpp
  src/AFQMC/HamiltonianOperations/SparseTensor.hpp
  src/AFQMC/HamiltonianOperations/SparseTensorIO.hpp
  src/AFQMC/HamiltonianOperations/THCOps.hpp
  src/AFQMC/HamiltonianOperations/THCOpsIO.hpp
  src/AFQMC/Hamiltonians/FactorizedSparseHamiltonian.cpp
  src/AFQMC/Hamiltonians/HSPotential_Helpers.cpp
  src/AFQMC/Hamiltonians/Hamiltonian.hpp
  src/AFQMC/Hamiltonians/HamiltonianFactory.cpp
  src/AFQMC/Hamiltonians/Hamiltonian_Utilities.hpp
  src/AFQMC/Hamiltonians/KPFactorizedHamiltonian.cpp
  src/AFQMC/Hamiltonians/KPTHCHamiltonian.cpp
  src/AFQMC/Hamiltonians/THCHamiltonian.cpp
  src/AFQMC/Hamiltonians/createHamiltonian_Helper.hpp
  src/AFQMC/Hamiltonians/generateHijkl.hpp
  src/AFQMC/Hamiltonians/rotateHamiltonian.hpp
  src/AFQMC/Matrix/csr_matrix_construct.hpp
  src/AFQMC/Numerics/csr_blas.hpp
  src/AFQMC/Numerics/detail/CPU/blas_cpu.hpp
  src/AFQMC/Numerics/detail/CPU/sparse_cpu.hpp
  src/AFQMC/Numerics/detail/utilities.hpp
  src/AFQMC/Numerics/ma_operations.hpp
  src/AFQMC/Propagators/tests/test_propagator_factory.cpp
  src/AFQMC/SlaterDeterminantOperations/rotate.hpp
  src/AFQMC/Walkers/Walkers.hpp
  src/AFQMC/Wavefunctions/NOMSD.icc
  src/AFQMC/Wavefunctions/PHMSD.icc
  src/AFQMC/Wavefunctions/Wavefunction.hpp
  src/AFQMC/Wavefunctions/WavefunctionFactory.cpp
  src/AFQMC/Wavefunctions/phmsd_helpers.hpp
  src/io/hdf_multi.h
  tests/afqmc/C_1x1x1_dzvp/ham_chol_sc_real.h5
Labels: in progress

#1482 Use cusolverDn in DelayedUpdateCUDA
  src/Numerics/CUDA/cusolver.hpp
  src/QMCWaveFunctions/CMakeLists.txt
  src/QMCWaveFunctions/Fermion/DelayedUpdate.h
  src/QMCWaveFunctions/Fermion/DelayedUpdateCUDA.h
  src/QMCWaveFunctions/Fermion/DiracDeterminant.cpp
  src/QMCWaveFunctions/Fermion/DiracDeterminant.h
  src/QMCWaveFunctions/Fermion/DiracMatrix.h
  src/QMCWaveFunctions/Fermion/MultiSlaterDeterminant.cpp
  src/QMCWaveFunctions/Fermion/SlaterDetBuilder.cpp
  src/QMCWaveFunctions/Fermion/delayed_update_helper.cu
  src/QMCWaveFunctions/Fermion/delayed_update_helper.h
  src/QMCWaveFunctions/tests/test_dirac_det.cpp
  src/QMCWaveFunctions/tests/test_dirac_matrix.cpp
Labels: in progress

#1485 Add ENABLE_CUDA hook in ctest_script.cmake
  CMake/ctest_script.cmake
Labels: in progress

#1486 Change figure graphic formats for HTML generation
  manual/figures/lab_excited_experiments.pdf
  manual/figures/lab_excited_experiments.png
  manual/figures/lab_excited_twists.pdf
  manual/figures/lab_excited_twists.png
Labels: in progress

#1487 Improve GPU and test descriptions
  README.md
  manual/installation.tex
  manual/running.tex
Labels: in progress

#1489 Make SOA build the default
  CMakeLists.txt
  tests/test_automation/jenkins_rhea_cpu.sh
  tests/test_automation/jenkins_rhea_gpu.sh
Labels: in progress

#1493 Nexus: update version to 1.7.0
  nexus/lib/nexus.py
Labels: in progress

#1491 Update configs for SOA default
  config/blue_waters.sh
  config/build_alcf_mira.sh
  config/build_alcf_theta.sh
  config/build_olcf_eos.sh
  config/build_olcf_titan.sh
  config/build_ornl_cades.sh
  config/build_ornl_oic.sh
Labels: in progress

#1492 Update oxygen nightlies due to SoA default
  tests/test_automation/nightly_ornl_oxygen.sh
  tests/test_automation/weekly_ornl_oxygen.sh
Labels: in progress

#1490 References for real/complex build are separated for deterministic-diamondC_2X1X1_pp testset.
  tests/solids/diamondC_2x1x1_pp/CMakeLists.txt
Labels: in progress

#1496 Afqmc real unit tests
  CMakeLists.txt
  src/AFQMC/CMakeLists.txt
  src/AFQMC/HamiltonianOperations/tests/CMakeLists.txt
  src/AFQMC/HamiltonianOperations/tests/test_hamiltonian_operations.cpp
  src/AFQMC/Hamiltonians/HamiltonianFactory.h
  src/AFQMC/Hamiltonians/tests/CMakeLists.txt
  src/AFQMC/Propagators/PropagatorFactory.h
  src/AFQMC/Walkers/WalkerSetBase.icc
  src/AFQMC/Wavefunctions/WavefunctionFactory.h
  tests/afqmc/C_1x1x1_dzvp/ham_chol_sc_real.h5
  tests/afqmc/Ne_cc-pvdz/ham_chol.h5
  tests/afqmc/Ne_cc-pvdz/scf/README
  tests/afqmc/Ne_cc-pvdz/scf/scf.out
  tests/afqmc/Ne_cc-pvdz/scf/scf.py
  tests/afqmc/Ne_cc-pvdz/wfn_rhf.dat
  tests/solids/CMakeLists.txt
Labels: in progress

#1497 Update manual for SoA default
  manual/features.tex
  manual/installation.tex
Labels: in progress

#1495 Manual update (arm and typo)
  CMake/ClangCompilers.cmake
  CMake/GNUCompilers.cmake
  manual/installation.tex
  manual/running.tex
Labels: in progress

#1471 Nexus: enable improved generation of QMCPACK inputs
  nexus/bin/nxs-test
  nexus/lib/qmcpack.py
  nexus/lib/qmcpack_input.py
  nexus/tests/reference/user_examples/qmcpack/H2O/runs/dmc.in.xml
  nexus/tests/reference/user_examples/qmcpack/H2O/runs/opt.in.xml
  nexus/tests/reference/user_examples/qmcpack/LiH/runs/dmc.in.xml
  nexus/tests/reference/user_examples/qmcpack/LiH/runs/opt.in.xml
  nexus/tests/reference/user_examples/qmcpack/c20/runs/c20/opt/opt.in.xml
  nexus/tests/reference/user_examples/qmcpack/c20/runs/c20/qmc/qmc.in.xml
  nexus/tests/reference/user_examples/qmcpack/diamond/runs/diamond/vmc/vmc.in.xml
  nexus/tests/reference/user_examples/qmcpack/graphene/runs/graphene/opt/opt.in.xml
  nexus/tests/reference/user_examples/qmcpack/graphene/runs/graphene/qmc/qmc.in.xml
  nexus/tests/reference/user_examples/qmcpack/oxygen_dimer/scale_1.0/opt.in.xml
  nexus/tests/reference/user_examples/qmcpack/oxygen_dimer/scale_1.0/qmc.in.xml
Labels: in progress

#1501 Use correct test input path for short/long afqmc tests.
  tests/solids/diamondC_afqmc_1x1x1_complex/CMakeLists.txt
Labels: in progress

#1498 Nexus: updates for Gaussian Process optimization
  nexus/lib/gaussian_process.py
  nexus/lib/machines.py
  nexus/lib/pwscf_analyzer.py
Labels: in progress

#1502 Fix test_openmp
  src/OpenMP/OMPallocator.hpp
  src/OpenMP/tests/CMakeLists.txt
  src/OpenMP/tests/test_deep_copy.cpp
Labels: in progress

#1503 clang-format CUDA, Estimators, LongRange
  src/CUDA/CUDAallocator.hpp
  src/CUDA/cudaError.h
  src/CUDA/gpu_misc.cpp
  src/CUDA/gpu_misc.h
  src/CUDA/gpu_vector.cpp
  src/CUDA/gpu_vector.h
  src/CUDA/uninitialized.hpp
  src/CUDA/uninitialized_array.hpp
  src/Estimators/BlockHistogram.h
  src/Estimators/CSEnergyEstimator.cpp
  src/Estimators/CSEnergyEstimator.h
  src/Estimators/CollectablesEstimator.cpp
  src/Estimators/CollectablesEstimator.h
  src/Estimators/EstimatorManagerBase.cpp
  src/Estimators/EstimatorManagerBase.h
  src/Estimators/LocalEnergyEstimator.cpp
  src/Estimators/LocalEnergyEstimator.h
  src/Estimators/LocalEnergyOnlyEstimator.h
  src/Estimators/RMCLocalEnergyEstimator.cpp
  src/Estimators/RMCLocalEnergyEstimator.h
  src/Estimators/ScalarEstimatorBase.h
  src/Estimators/TraceManager.cpp
  src/Estimators/TraceManager.h
  src/Estimators/accumulators.h
  src/Estimators/tests/test_accumulator.cpp
  src/Estimators/tests/test_local_energy_est.cpp
  src/Estimators/tests/test_manager.cpp
  src/Estimators/tests/test_trace_manager.cpp
  src/LongRange/EwaldHandler.cpp
  src/LongRange/EwaldHandler.h
  src/LongRange/EwaldHandler3D.cpp
  src/LongRange/EwaldHandler3D.h
  src/LongRange/KContainer.cpp
  src/LongRange/KContainer.h
  src/LongRange/LPQHIBasis.cpp
  src/LongRange/LPQHIBasis.h
  src/LongRange/LPQHISRCoulombBasis.cpp
  src/LongRange/LPQHISRCoulombBasis.h
  src/LongRange/LRBasis.h
  src/LongRange/LRBreakup.h
  src/LongRange/LRCoulombSingleton.cpp
  src/LongRange/LRCoulombSingleton.h
  src/LongRange/LRHandlerBase.h
  src/LongRange/LRHandlerSRCoulomb.h
  src/LongRange/LRHandlerTemp.h
  src/LongRange/LRRPABFeeHandlerTemp.h
  src/LongRange/LRRPAHandlerTemp.h
  src/LongRange/StructFact.cpp
  src/LongRange/StructFact.h
  src/LongRange/TwoDEwaldHandler.cpp
  src/LongRange/TwoDEwaldHandler.h
  src/io/hdf_double_hyperslab.h
  src/io/hdf_hyperslab.h
  src/io/hdf_multi.h
Labels: in progress

#1504 Bug 1480 - Fix HDF5 converter tests via tolerance
  tests/converter/converter_test.py
Labels: in progress

#1506 clang-format Messge, Numerics, OpenMP, Optimize, mpi
  src/Message/CommOperators.h
  src/Message/CommOperatorsMPI.h
  src/Message/CommOperatorsSingle.h
  src/Message/CommUtilities.h
  src/Message/Communicate.cpp
  src/Message/Communicate.h
  src/Message/MPIObjectBase.cpp
  src/Message/MPIObjectBase.h
  src/Message/OpenMP.h
  src/Message/TagMaker.h
  src/Message/catch_mpi_main.hpp
  src/Message/tests/test_communciate.cpp
  src/Numerics/Bessel.h
  src/Numerics/BsplineOneDimSolvers.h
  src/Numerics/CUDA/cuBLAS.hpp
  src/Numerics/CUDA/cusolver.hpp
  src/Numerics/ExpFitClass.h
  src/Numerics/GaussianBasisSet.h
  src/Numerics/GaussianTimesRN.h
  src/Numerics/SlaterBasisSet.h
  src/OhmmsApp/RandomNumberControl.cpp
  src/OhmmsPETE/OhmmsMatrix.h
  src/OhmmsPETE/OhmmsMatrixOperators.h
  src/OhmmsPETE/OhmmsVectorOperators.h
  src/OhmmsPETE/TensorOps.h
  src/OhmmsPETE/TinyMatrixOps.h
  src/OhmmsPETE/TinyVectorTensorOps.h
  src/OpenMP/OMPallocator.hpp
  src/OpenMP/OMPstd.hpp
  src/OpenMP/tests/test_class_member.cpp
  src/OpenMP/tests/test_deep_copy.cpp
  src/OpenMP/tests/test_math.cpp
  src/OpenMP/tests/test_vector.cpp
  src/Optimize/CGOptimization.h
  src/Optimize/DampedDynamics.h
  src/Optimize/LeastSquaredFit.h
  src/Optimize/NRCOptimization.h
  src/Optimize/OptimizeBase.h
  src/Optimize/VarList.h
  src/Optimize/VariableSet.cpp
  src/Optimize/VariableSet.h
  src/Optimize/testDerivOptimization.h
  src/mpi/collectives.h
  src/mpi/mpi_datatype.h
  src/mpi/point2point.h
Labels: in progress

#1507 Fix formatting breakage
  src/OpenMP/tests/test_deep_copy.cpp
Labels: in progress

#1510 Nexus: fixes for ctest
  nexus/tests/CMakeLists.txt
Labels: in progress

#1509 Fix 1RDM cloning
  manual/hamiltonianobservable.tex
  nexus/lib/qmcpack_input.py
  src/QMCHamiltonians/DensityMatrices1B.cpp
  src/QMCHamiltonians/DensityMatrices1B.h
Labels: in progress

#1512 clang-format src files, PETE, all Particle, Platforms
  src/Configuration.h
  src/HDFVersion.h
  src/Particle/MCWalkerConfiguration.cpp
  src/Particle/tests/test_particle.cpp
  src/ParticleBase/ParticleAttrib.cpp
  src/ParticleBase/ParticleAttrib.h
  src/ParticleBase/ParticleAttribOps.h
  src/ParticleBase/ParticleFunctions.h
  src/ParticleBase/ParticleUtility.h
  src/ParticleBase/RandomSeqGenerator.h
  src/ParticleBase/tests/test_attrib_ops.cpp
  src/ParticleBase/tests/test_particle_attrib.cpp
  src/ParticleBase/tests/test_random_seq.cpp
  src/ParticleIO/ESHDFParticleParser.cpp
  src/ParticleIO/ESHDFParticleParser.h
  src/ParticleIO/HDFParticleAttrib.h
  src/ParticleIO/ParticleIOUtility.cpp
  src/ParticleIO/ParticleIOUtility.h
  src/ParticleIO/ParticleLayoutIO.cpp
  src/ParticleIO/ParticleLayoutIO.h
  src/ParticleIO/XMLParticleIO.cpp
  src/ParticleIO/XMLParticleIO.h
  src/ParticleIO/tests/test_lattice_parser.cpp
  src/ParticleIO/tests/test_xml_io.cpp
  src/ParticleIO/tests/test_xml_mass.cpp
  src/ParticleTags.cpp
  src/Platforms/accelerators.cpp
  src/Platforms/accelerators.hpp
  src/Platforms/devices.h
  src/Platforms/sysutil.cpp
  src/Platforms/sysutil.h
  src/coulomb_types.h
  src/qmc_common.cpp
  src/qmc_common.h
Labels: in progress

#1514 Fix wavefunction unit tests
  src/QMCWaveFunctions/tests/test_soa_cusp_corr.cpp
Labels: in progress

#1518 Fix parseCasino
  src/QMCHamiltonians/ECPComponentBuilder.2.cpp
Labels: bug, in progress

#1513 Update CHANGELOG.md for unreleased improvements
  CHANGELOG.md
Labels: in progress

#1521 Updates from v3.7.0 release
  CHANGELOG.md
  CMakeLists.txt
Labels: in progress

#1522 Update patch version to indicate development code
  CMakeLists.txt
Labels: in progress

#1524 Fix bug in kpoint AFQMC code
  src/AFQMC/Hamiltonians/KPFactorizedHamiltonian.cpp
Labels: in progress
