Repository QMCPACK/qmcpack, pull requests merged in 2021-09, with the labels that each got.

#3413 Clear clones before exiting QMCMain
  src/QMCApp/QMCMain.cpp
  src/QMCApp/qmcapp.cpp
  src/QMCDrivers/CloneManager.cpp
  src/QMCDrivers/CloneManager.h
  src/QMCDrivers/tests/test_dmc_driver.cpp
  src/QMCDrivers/tests/test_vmc_driver.cpp
Labels: bug

#3414 Fix git info printing
  CMakeLists.txt
Labels: bug

#3453 Fix NLPP race in batched implementation.
  src/QMCHamiltonians/NonLocalECPotential.cpp
Labels: bug

#3462 Fix distance table AA out of bound
  src/Particle/SoaDistanceTableAA.h
  src/Particle/SoaDistanceTableAAOMPTarget.h
  src/Particle/tests/test_distance_table.cpp
Labels: bug

#3458 Refactoring OperatorBase public members naming
  docs/developing.rst
  src/QMCDrivers/WFOpt/HamiltonianRef.cpp
  src/QMCDrivers/WFOpt/QMCCostFunction.cpp
  src/QMCDrivers/WFOpt/QMCCostFunctionBatched.cpp
  src/QMCHamiltonians/ACForce.cpp
  src/QMCHamiltonians/BareKineticEnergy.cpp
  src/QMCHamiltonians/ChiesaCorrection.cpp
  src/QMCHamiltonians/ConservedEnergy.h
  src/QMCHamiltonians/CoulombPBCAA.cpp
  src/QMCHamiltonians/CoulombPBCAA_CUDA.cpp
  src/QMCHamiltonians/CoulombPBCAB.cpp
  src/QMCHamiltonians/CoulombPotential.h
  src/QMCHamiltonians/DensityEstimator.cpp
  src/QMCHamiltonians/DensityMatrices1B.cpp
  src/QMCHamiltonians/EnergyDensityEstimator.cpp
  src/QMCHamiltonians/ForceBase.cpp
  src/QMCHamiltonians/ForceCeperley.cpp
  src/QMCHamiltonians/ForceChiesaPBCAA.cpp
  src/QMCHamiltonians/ForwardWalking.h
  src/QMCHamiltonians/GridExternalPotential.cpp
  src/QMCHamiltonians/GridExternalPotential.h
  src/QMCHamiltonians/HarmonicExternalPotential.cpp
  src/QMCHamiltonians/HarmonicExternalPotential.h
  src/QMCHamiltonians/L2Potential.cpp
  src/QMCHamiltonians/LatticeDeviationEstimator.cpp
  src/QMCHamiltonians/LocalECPotential.cpp
  src/QMCHamiltonians/MPC.cpp
  src/QMCHamiltonians/MomentumEstimator.cpp
  src/QMCHamiltonians/NonLocalECPotential.cpp
  src/QMCHamiltonians/NonLocalECPotential.deriv.cpp
  src/QMCHamiltonians/OperatorBase.cpp
  src/QMCHamiltonians/OperatorBase.h
  src/QMCHamiltonians/OrbitalImages.cpp
  src/QMCHamiltonians/PairCorrEstimator.cpp
  src/QMCHamiltonians/Pressure.h
  src/QMCHamiltonians/QMCHamiltonian.cpp
  src/QMCHamiltonians/QMCHamiltonian.h
  src/QMCHamiltonians/SOECPotential.cpp
  src/QMCHamiltonians/SkAllEstimator.cpp
  src/QMCHamiltonians/SkEstimator.cpp
  src/QMCHamiltonians/SkPot.cpp
  src/QMCHamiltonians/SpeciesKineticEnergy.cpp
  src/QMCHamiltonians/SpinDensity.cpp
  src/QMCHamiltonians/StaticStructureFactor.cpp
  src/QMCHamiltonians/StressPBC.cpp
Labels: cleanup, refactor

#3447 Port momentum distribution to batched drivers
  src/Estimators/CMakeLists.txt
  src/Estimators/EstimatorManagerNew.cpp
  src/Estimators/MomentumDistribution.cpp
  src/Estimators/MomentumDistribution.h
  src/Estimators/OperatorEstBase.h
  src/Estimators/SpinDensityNew.cpp
  src/Estimators/SpinDensityNew.h
Labels: ECP, refactor

#3486 Refactor OperatorBase into a single translation unit
  src/QMCHamiltonians/OperatorBase.cpp
  src/QMCHamiltonians/OperatorBase.h
Labels: cleanup, refactor
