Repository QMCPACK/qmcpack, pull requests merged in 2021-08, with the labels that each got.

#3349 Switch QMCGaussianParserBase::gridPtr raw pointer into a std::unique_ptr
  src/QMCTools/QMCGaussianParserBase.cpp
  src/QMCTools/QMCGaussianParserBase.h
Labels: refactor, memory management

#3350 Fix converter leaks and undefined behavior
  src/QMCTools/DiracParser.cpp
  src/QMCTools/GamesAsciiParser.cpp
  src/QMCTools/GaussianFCHKParser.cpp
  src/QMCTools/LCAOHDFParser.cpp
  src/QMCTools/QMCGaussianParserBase.cpp
  src/QMCTools/QMCGaussianParserBase.h
  src/QMCTools/QPParser.cpp
Labels: bug, refactor, memory management

#3367 Portable Datasets and Groups check in h5py readers
  nexus/lib/hdfreader.py
  tests/scripts/check_traces.py
Labels: bug, nexus, ci

#3371 Add gcc11 GitHub Actions CI with Werror enabled
  .github/workflows/ci-github-actions.yaml
  config/docker/dependencies/ubuntu/impish/Dockerfile
  docs/github_actions.rst
  tests/test_automation/github-actions/ci/run_step.sh
Labels: ci, GitHub Actions

#3395 Fix ifdef for ENABLE_CUDA=ON ENABLE_OFFLOAD=OFF case
  src/QMCWaveFunctions/Fermion/DiracMatrixComputeCUDA.hpp
  src/QMCWaveFunctions/tests/benchmark_DiracMatrixComputeCUDA.cpp
  src/QMCWaveFunctions/tests/test_DiracMatrixComputeCUDA.cpp
Labels: bug

#3399 Fix unit test failure in ENABLE_CUDA=ON ENABLE_OFFLOAD=OFF case
  src/QMCWaveFunctions/Fermion/DiracDeterminantBatched.h
  src/QMCWaveFunctions/Fermion/MatrixDelayedUpdateCUDA.h
  src/QMCWaveFunctions/Fermion/MatrixUpdateOMPTarget.h
Labels: bug

#3407 Fix memory leak in Backflow_eI member containers
  src/QMCWaveFunctions/Fermion/BackflowBuilder.cpp
  src/QMCWaveFunctions/Fermion/Backflow_eI.h
Labels: memory management

#3408 Enable ASAN/LSAN checks to full suite of deterministic tests
  docs/github_actions.rst
  tests/test_automation/github-actions/ci/run_step.sh
Labels: memory management, ci, GitHub Actions
