Repository QMCPACK/qmcpack, pull requests merged in 2021-07, with the labels that each got.

#3256 Pade2 bug fix
  src/Numerics/OptimizableFunctorBase.cpp
  src/Numerics/OptimizableFunctorBase.h
  src/QMCWaveFunctions/Jastrow/PadeFunctors.h
  src/QMCWaveFunctions/Jastrow/RadialJastrowBuilder.cpp
  src/QMCWaveFunctions/tests/test_pade_jastrow.cpp
Labels: bug

#3313 Switch HDFWalkerOutput raw pointer to std::unique to address leak
  src/Particle/MCWalkerConfiguration.cpp
  src/Particle/MCWalkerConfiguration.h
  src/Particle/SampleStack.cpp
  src/Particle/SampleStack.h
  src/QMCDrivers/CorrelatedSampling/CSVMC.cpp
  src/QMCDrivers/QMCDriver.cpp
  src/QMCDrivers/QMCDriver.h
  src/QMCDrivers/VMC/VMC.cpp
Labels: bug, memory management

#3317 Add full precision CUDA legacy tests on self-hosted CI
  .github/workflows/ci-github-actions-self-hosted.yaml
  tests/test_automation/github-actions/ci/run_step.sh
Labels: GitHub Actions, ci, gpu, testing

#3316 Remove lingering noasan label for fixed tests
  src/Containers/tests/CMakeLists.txt
  src/QMCDrivers/tests/CMakeLists.txt
Labels: cleanup

#3321 Deallocate xmlNode from xmlCopyNode in QMCMain::m_qmcaction
  src/QMCApp/QMCMain.cpp
Labels: memory management, refactor
