Repository QMCPACK/qmcpack, pull requests merged in 2021-05, with the labels that each got.

#3153 Nexus: support grand-canonical twist averaging
  nexus/lib/pwscf_analyzer.py
  nexus/lib/qmcpack.py
  nexus/lib/qmcpack_converters.py
  nexus/lib/simulation.py
Labels: nexus

#3167 Split J2OrbitalSoA and fix unit test
  src/QMCWaveFunctions/CMakeLists.txt
  src/QMCWaveFunctions/Jastrow/J2OrbitalSoA.cpp
  src/QMCWaveFunctions/Jastrow/J2OrbitalSoA.h
  src/QMCWaveFunctions/Jastrow/RPAJastrow.cpp
  src/QMCWaveFunctions/Jastrow/RPAJastrow.h
  src/QMCWaveFunctions/Jastrow/RadialJastrowBuilder.cpp
  src/QMCWaveFunctions/Jastrow/TwoBodyJastrowOrbitalBspline.h
  src/QMCWaveFunctions/tests/test_bspline_jastrow.cpp
  src/QMCWaveFunctions/tests/test_rpa_jastrow.cpp
  src/QMCWaveFunctions/tests/test_wavefunction_factory.cpp
Labels: bug

#3168 Split hamiltonian unit test
  src/QMCHamiltonians/tests/CMakeLists.txt
Labels: bug

#3169 Remove CUDA contamination which breaks offload.
  src/QMCWaveFunctions/tests/test_DiracMatrixComputeOMPTarget.cpp
Labels: bug

#3175 Update Spack section of QMCPACK manual
  docs/installation.rst
Labels: ECP, documentation
