Repository QMCPACK/qmcpack, pull requests merged in 2021-02, with the labels that each got.

#2871 Fix legacy CUDA DMC breakage
  src/Particle/Walker.h
  src/QMCDrivers/DMC/DMCFactoryNew.cpp
  src/QMCDrivers/VMC/VMCFactoryNew.cpp
  tests/solids/diamondC_2x1x1_pp/CMakeLists.txt
Labels: bug

#2876 Initialize values to zero on device only memory
  src/Containers/OhmmsPETE/OhmmsVector.h
  src/Particle/ParticleSet.cpp
  src/Particle/ParticleSet.h
  src/Platforms/CUDA/CMakeLists.txt
  src/Platforms/CUDA/CUDAallocator.hpp
  src/Platforms/CUDA/CUDAfill.cpp
  src/Platforms/CUDA/CUDAfill.hpp
  src/Platforms/allocator_traits.hpp
  src/QMCDrivers/DMC/DMCBatched.h
  src/QMCDrivers/QMCDriverNew.cpp
  src/QMCDrivers/VMC/VMCBatched.cpp
  src/QMCDrivers/VMC/VMCBatched.h
  src/QMCWaveFunctions/Fermion/DiracDeterminant.cpp
  src/QMCWaveFunctions/Fermion/DiracDeterminantBase.h
  src/QMCWaveFunctions/Fermion/DiracDeterminantBatched.cpp
  src/QMCWaveFunctions/tests/test_DiracDeterminantBatched.cpp
  src/QMCWaveFunctions/tests/test_dirac_det.cpp
Labels: bug

#2883 Fix race conditions in CUDA kernels causing incorrect energies
  src/QMCHamiltonians/CudaCoulomb.cu
  src/QMCHamiltonians/NLPP.cu
  src/QMCWaveFunctions/detail/CUDA_legacy/determinant_update.cu
Labels: bug, gpu

#2888 Fix batched determinants affecting T-move in batched DMC, no-drift batched VMC and fix another NaN bug
  src/Platforms/CUDA/cuBLAS_missing_functions.cu
  src/Platforms/OMPTarget/ompBLAS.cpp
  src/QMCDrivers/MCPopulation.cpp
  src/QMCWaveFunctions/Fermion/DiracDeterminantBatched.cpp
  src/QMCWaveFunctions/Fermion/DiracDeterminantBatched.h
Labels: bug

#2895 Fix wrong use of std::norm and fix serial QMCPACK testing QE workflow
  CMake/run_qe.cmake
  src/QMCDrivers/QMCDriverNew.cpp
  src/QMCWaveFunctions/Fermion/DiracDeterminantBase.h
Labels: bug

#2923 Add DLA short and long tests
  tests/solids/diamondC_2x1x1_pp/CMakeLists.txt
  tests/solids/diamondC_2x1x1_pp/qmc_long_vmc_dmc_dla.in.xml
  tests/solids/diamondC_2x1x1_pp/qmc_short_vmc_dmc_dla.in.xml
Labels: testing

#2943 Fix two bugs in walker batched runs
  src/Containers/OhmmsPETE/OhmmsMatrix.h
  src/Particle/ParticleSet.cpp
  src/QMCDrivers/DMC/DMCBatched.cpp
  src/QMCWaveFunctions/Fermion/DiracDeterminantBatched.cpp
Labels: bug

#2960 Fix CMake issue with XL and update Summit Clang build script
  config/build_olcf_summit_Clang.sh
  src/Platforms/tests/CPU/CMakeLists.txt
  src/Platforms/tests/CUDA/CMakeLists.txt
  src/Platforms/tests/OMPTarget/CMakeLists.txt
  src/QMCDrivers/QMCDriverFactory.cpp
Labels: bug
