Repository QMCPACK/qmcpack, pull requests merged in 2022-12, with the labels that each got.

#4348 Better handling Driver readXML exeception.
  src/QMCDrivers/DMC/DMCFactoryNew.cpp
  src/QMCDrivers/VMC/VMCFactoryNew.cpp
  src/QMCDrivers/WFOpt/QMCWFOptFactoryNew.cpp
Labels: bug

#4349 Fix subset parameter optimization in legacy drivers
  src/QMCDrivers/WFOpt/QMCCostFunction.cpp
  src/QMCWaveFunctions/VariableSet.cpp
  src/QMCWaveFunctions/VariableSet.h
Labels: bug

#4356 Nexus: Add Perlmutter to Nexus machines
  nexus/lib/machines.py
  nexus/tests/unit/test_machines.py
Labels: nexus

#4373 Use value semantics with RemoteData
  src/Particle/HDFWalkerOutput.cpp
  src/Particle/HDFWalkerOutput.h
Labels: cleanup
