Repository QMCPACK/qmcpack, pull requests merged in 2022-01, with the labels that each got.

#3718 Fix the ppconvert test broken by 4587bf5.
  src/QMCTools/ppconvert/test/Oxygen/CMakeLists.txt
Labels: bug

#3724 Add debug mode configuration to CI
  .github/workflows/ci-github-actions.yaml
  tests/test_automation/github-actions/ci/run_step.sh
Labels: ci, GitHub Actions

#3781 Set ucx layer for ornl runners
  tests/test_automation/github-actions/ci/run_step.sh
Labels: bug, ci
