Repository QMCPACK/qmcpack, pull requests merged in 2022-02, with the labels that each got.

#3800 Increase tolerance in CUDA deterministic-diamondC_2x1x1_pp-delayed_update-vmc_sdj-1-1-kinetic
  tests/solids/diamondC_2x1x1_pp/CMakeLists.txt
Labels: testing

#3808 emphasize update() in developer manual
  docs/developing.rst
Labels: documentation

#3831 Simplify StructFact resize logic and fix a bug
  src/Particle/LongRange/StructFact.cpp
  src/Particle/LongRange/StructFact.h
  src/Particle/LongRange/tests/test_StructFact.cpp
  src/Particle/ParticleSet.BC.cpp
Labels: bug

#3885 Fix h5o_info_t usage
  src/io/hdf/hdf_archive.cpp
Labels: bug
