Repository QMCPACK/qmcpack, pull requests merged in 2023-02, with the labels that each got.

#4455 Remove unused alias types
  src/QMCWaveFunctions/Fermion/DiracDeterminant.h
  src/QMCWaveFunctions/Fermion/DiracDeterminantWithBackflow.h
  src/QMCWaveFunctions/Fermion/MultiDiracDeterminant.h
  src/QMCWaveFunctions/SPOSet.h
  src/QMCWaveFunctions/TrialWaveFunction.h
Labels: cleanup

#4456 Rename QMCAppBase and QMCMain members and one ifdef QMC_COMPLEX
  src/QMCApp/QMCAppBase.cpp
  src/QMCApp/QMCAppBase.h
  src/QMCApp/QMCMain.cpp
  src/QMCApp/QMCMain.h
  src/QMCTools/QMCFiniteSize/QMCFiniteSize.cpp
Labels: cleanup

#4461 Remove QMCMainState and CoupledMC
  src/QMCApp/CMakeLists.txt
  src/QMCApp/CoupledMC.cpp
  src/QMCApp/QMCMain.cpp
  src/QMCApp/QMCMain.h
  src/QMCApp/QMCMainState.cpp
  src/QMCApp/QMCMainState.h
  src/QMCApp/qmcapp.cpp
Labels: cleanup

#4471 Cleanup code using walker->Weight
  src/Particle/MCWalkerConfiguration.cpp
  src/Particle/WalkerConfigurations.cpp
  src/QMCDrivers/DMC/WalkerControlMPI.cpp
  src/QMCDrivers/DMC/WalkerReconfiguration.cpp
  src/QMCDrivers/QMCUpdateBase.cpp
  src/QMCDrivers/WalkerControlBase.cpp
Labels: cleanup, refactor

#4478 docs(): correct the wrong .dat filename in the afqmc tutorial
  examples/afqmc/01-neon_atom/README.rst
Labels: bug, documentation
