Repository QMCPACK/qmcpack, pull requests merged in 2024-11, with the labels that each got.

#5210 Fix Lattice + OpenBC in batched drivers
  src/Particle/PSdispatcher.cpp
  src/Particle/PSdispatcher.h
  src/Particle/ParticleSet.cpp
  src/Particle/ParticleSet.h
  src/Particle/tests/test_ParticleSet.cpp
  src/QMCDrivers/DMC/DMCBatched.cpp
  src/QMCDrivers/VMC/VMCBatched.cpp
  tests/solids/diamondC_2x1x1_pp/CMakeLists.txt
Labels: bug

#5233 Improve the xsf format data precision
  nexus/lib/fileio.py
Labels: enhancement, nexus

#5215 Nexus: Initial NumPy 2 support
  nexus/lib/testing.py
Labels: nexus
